{% load i18n verbatim_tag %}
{% verbatim %}

<script id="comment_item_tpl" type="text/html">
	<div class="user-image">
			<img src="{{ user.image_small }}" />
	</div>
	<div class="comment-content">
		<div class="user"><strong><a href="#{{ user.url }}">{{ user.username }}</a></strong></div>
		<div class="comment-text">{{& comment }}</div>
		<div class="date">{{ created }}</div>
	</div>
</script>
	

<script id="comments_tpl" type="text/html">
	<div class="esquina">&nbsp;</div>
	<div class="comment-list"></div>
	<div class="comment-form"></div>
</script>

<script id="comment_form_tpl" type="text/html">
	<form class="form" action="">
		<div class="control-group required">
			<div class="controls">
				<textarea class="autoresize double comment-input" name="comment" placeholder="{% trans 'Make a comment' %}">{{ comment }}</textarea>
			</div>
		</div>
		<button type="button" class="btn btn-small submit-comment">{% trans "comment" %}</button> <span class="ajax-loading small" style="display:none">&nbsp;</span>
	</form>
</script>


<script id="comment_login_tpl" type="text/html">
	<p class="comment-login-msg">
		<a href="/accounts/login/?next={{ next }}" class="btn">{% trans "Log in" %}</a> {% trans "to post a comment" %}
	</p>
</script>
{% endverbatim %}

