<div id="vote-widget-{{ report.id }}" class="report-widget vote-widget {% if has_voted %}active{% endif %}">
	<button type="button" onclick="{% if has_voted %}Datea.vote.unvote({{ report.id }});{% else %}Datea.vote.vote({{ report.id }}, 1);{% endif %}">
		<div class="data">
			
			{%  if vote_count > 0 %}
			<div class="off">
				<div class="count">{{ vote_count }}</div>
				<div class="subline">apoyan este aporte</div>
			</div>
			{% else %}
				<div class="off">
					<div class="msg">apoya este aporte</div>
				</div>
			{% endif %}
			
			<div class="hover">
				{% if has_voted %}
					<div class="msg">quitar mi apoyo?</div>
				{% else %}
					<div class="msg">apoya este aporte!</div>
				{% endif %}
			</div>
		</div>
	</button>
</div> 