{% load i18n %}
{% load bootstrap_tags %}
{% load datea_profile_tags datea_follow_tags %}
{% get_profile %}

{% if env_slug != None %}
	{% url view_profile_own_env env_slug as view_url %}
{% else %}
	{% url view_profile_own_default as view_url %}
{% endif %}

<div class="row tab-pane-inner normal-tab profile-edit-tab">
	<div class="span7 left">
		<div class="inner">
			
			<ul class="nav nav-tabs">
				<li{% if subtab == 'account' %} class="active"{% endif %}>
					<a id="edit-account-tab" href="{{ view_url }}edit-account" rel="nav:my-profile/edit-account">Cuenta de usuario</a>
				</li>
				<li{% if subtab == 'profile' %} class="active"{% endif %}>
					<a id="edit-profile-tab" href="{{ view_url }}edit-profile" rel="nav:my-profile/edit-profile">Perfil</a>
				</li>
				<li{% if subtab == 'notification' %} class="active"{% endif %}>
					<a id="edit-notification-tab" href="{{ view_url }}edit-notification" rel="nav:my-profile/edit-notification">Notificaciones</a>
				</li>
			</ul>

			<div class="tab-content">
				
				<div id="edit-account-tab-content" class="tab-pane{% if subtab == 'account' %} active{% endif %}">
					<form method="POST" action="" autocomplete="off" id="edit-account-form" class="form-horizontal">
						{% csrf_token %}
						
						{{ accountform|as_bootstrap }}
						
						<div class="control-group">
							<div class="controls">
								<button class="btn btn-primary ajax-submit-btn" type="button"
									onclick="Datea.profiles.save_account();">Guardar</button>
								&nbsp;
								<button type="button" class="btn btn-success" rel="nav:my-profile">VER MI PERFIL</button>
							</div>
						</div>
					</form>
				</div>
				
				<div id="edit-profile-tab-content" class="tab-pane{% if subtab == 'profile' %} active{% endif %} tab-scrollbox">
					<form method="POST" action="" autocomplete="off" id="edit-profile-form" class="form-horizontal">
						{% csrf_token %}
					
						{{ profileform|as_bootstrap }}
					
						<div class="control-group">
							<div class="controls">
								<button type="button" class="btn btn-primary ajax-submit-btn"
									onclick="Datea.profiles.save_profile();">Guardar</button>
								&nbsp;
								<button type="button" class="btn btn-success" rel="nav:my-profile">VER MI PERFIL</button>
							</div>
						</div>	
					</form>
				</div>
				
				<div id="edit-notification-tab-content" class="tab-pane{% if subtab == 'notification' %} active{% endif %} tab-scrollbox">
					{% follow_notification_settings %}
				</div>
				
			</div>
		</div>
	</div>
	<div class="span5 right">
		<div class="inner">
			<form id="edit-avatar-form" class="form-horizontal">
				{% csrf_token %}
				<div id="edit-profile-avatar">
						{% include "datea_profiles/_profile_avatar.html" %}
				</div>
				
				<div class="control-group">
					<label class="control-label">Cambiar Imagen</label>
					<div class="controls">
						<input size="10" type="file" name="image" id="avatar-file" onchange="Datea.profiles.upload_avatar();" >
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

		
		