
{% load datea_profile_tags datea_follow_tags %}

<div class="row tab-pane-inner normal-tab profile-detail-tab">
	<div class="left span7">
		<div class="inner">
			<ul class="nav nav-tabs">
				{% if profile_is_active_user or profile_is_active_user == True %}
					<li{% if subtab == 'start' %} class="active"{% endif %}>
						<a id="my-profile-start" href="{% get_profile_url profile environment.slug %}" rel="nav:{% get_profile_nav_url profile environment.slug %}">
						INICIO
						</a>
					</li>
				{% endif %}
				<li{% if subtab == 'stream' %} class="active"{% endif %}>
					<a id="{% if profile_is_active_user or profile_is_active_user == True %}my-{% endif %}profile-stream"
					href="{% get_profile_url profile environment.slug %}stream" rel="nav:{% get_profile_nav_url profile environment.slug %}/stream">
					HISTORIAL</a>
				</li>
				<li{% if subtab == 'reports' %} class="active"{% endif %}>
					<a id="{% if profile_is_active_user or profile_is_active_user == True %}my-{% endif %}profile-reports"
					href="{% get_profile_url profile environment.slug %}reports" rel="nav:{% get_profile_nav_url profile environment.slug %}/reports">
						{% if profile_is_active_user or profile_is_active_user == True %}MIS {% endif %}APORTES
						</a>
				</li>
			</ul>
			<div class="tab-content">
				{% if profile_is_active_user or profile_is_active_user == True %}
					<div id="my-profile-start-content" class="tab-pane tab-scrollbox{% if subtab == 'start' %} active{% endif %}">
						<div class="profile-start">
							<h2>Bienvenido a {{ site.name }}</h2>
							<div class="intro-text">
								{{ environment.welcome_message|safe }}
							</div>
							<div class="row intro-actions">
								<div class="span2">
									<div class="action-start-button new-report">
										<div class="title">Participa!</div>
										<div class="help-text">Haz un aporte</div>
									</div>
								</div>
								<div class="span2">
									<div class="action-start-button view-reports">
										<div class="title">Comparte!</div>
										<div class="help-text">Comenta sigue y apoya</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				<div id="{% if profile_is_active_user or profile_is_active_user == True %}my-{% endif %}profile-stream-content" class="tab-pane tab-scrollbox{% if subtab == 'stream' %} active{% endif %}">
					{% get_activity_stream profile.user %}
				</div>
				
				<div id="{% if profile_is_active_user or profile_is_active_user == True %}my-{% endif %}profile-reports-content" class="tab-pane profile-report-list tab-scrollbox {% if subtab == 'reports' %}active{% endif %}">
					{% for report in profile_reports %}
						{% include "datea_report/_report_summary_item.html" %}
					{% empty %}
						{% if profile_is_active_user or profile_is_active_user == True %}
							<p>Aún no has hecho aportes.</p>
							<div class="row intro-actions">
								<div class="span2">
									<div class="action-start-button new-report">
										<div class="title">Participa!</div>
										<div class="help-text">Haz un aporte</div>
									</div>
								</div>
							</div>
						{% else %}
							<p>{{ profile.user.username }} aún no ha hecho aportes.</p>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="right span5">
		<div class="inner">
			<div class="profile-data-wrap">
				<div class="profile-data">
					<h2>{{ profile.user.username }}</h2>
					<div class="user-stats">
						
						{% with profile.count_followed as count %}
							{% if count > 0 %}
							<div class="stat-line follow">seguido por <span class="green">{{ count }}</span></div>
							{% endif %}
						{% endwith %}
						
						{% with profile.count_following as count %}
							{% if count > 0 %}
							<div class="stat-line follow">siguiendo a <span class="green">{{ count }}</span></div>
							{% endif %}
						{% endwith %}
						
						{% with profile.count_reports as count %}
							{% if count > 0 %}
							<div class="stat-line"><span class="green">{{ count }}</span> aporte{% if count > 1 %}s{% endif %}</div>
							{% endif %}
						{% endwith %}
						
						{% with profile.count_votes as count %}
							{% if count > 0 %}
							<div class="stat-line"><span class="green">{{ count }}</span> apoyo{% if count > 1 %}s{% endif %}</div>
							{% endif %}
						{% endwith %}
						
						{% with profile.count_comments as count %}
							{% if count > 0 %}
							<div class="stat-line"><span class="green">{{ count }}</span> comentario{% if count > 1 %}s{% endif %}</div>
							{% endif %}
						{% endwith %}
						
					</div>
					{% if profile_is_active_user or profile_is_active_user == True %}
						<div class="user-actions">
							<a class="btn btn-success" href="#" rel="nav:my-profile/edit-account">Editar Perfil</a>
						</div>
					{% endif %}
				</div>
				<div class="profile-picture">
					{% include "datea_profiles/_profile_avatar.html" %}
					{% follow_widget profile.user %}
				</div>
			</div> 
		</div>
	</div>
</div>