{% load thumbnail datea_profile_tags %}
<div class="profile-teaser-list">
	
	{% if profile_list_page.paginator.num_pages > 1 %}
	<div class="navigation row width6-5">
		<div class="pages span3-5">
				{% url 'environment_tab' environment.slug 'people' as base_page_url %}
				{% if profile_list_page.has_previous %}
					<a class="previous" href="{{base_page_url}}{{tab_prefix}}{{profile_list_page.previous_page_number}}" rel="nav:people/{{tab_prefix}}{{profile_list_page.previous_page_number}}" title="anterior">anterior</a>
				{% endif %}
					
					<span class="active">página {{ profile_list_page.number }} de {{ profile_list_page.paginator.num_pages }}</span>
					
				{% if profile_list_page.has_next %}
					<a class="next" href="{{base_page_url}}{{tab_prefix}}{{profile_list_page.next_page_number}}" rel="nav:people/{{tab_prefix}}{{profile_list_page.next_page_number}}" title="siguiente">siguiente</a> 
				{% endif %}
		</div>
		<div class="tab-search span2-5">
			<form class="form-inline form-search">
			<input class="input-small" type="text" placeholder="buscar" /> <button type="submit" class="btn en-linea-chico">buscar</button>
			</form>
		</div>
	</div>
	{% endif %}
	
	<div class="profile-teaser-results">
		{% for profile in profile_list_page.object_list %}
			{% cycle '<div class="row">' "" %}
				
				<div class="profile-teaser span3">
					<div class="avatar">
						<a href="{% get_profile_url profile environment.slug %}" rel="nav:people/detail/{{profile.user.username}}">
						{% if profile.avatar != None %}
							{% thumbnail profile.avatar.image "63x49" crop="center" as im %}
								<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" title="ver perfil" /> 
							{% endthumbnail %}
						{% else %}
							{% thumbnail "datea/img/usuario_icono2.png" "63x49" crop="center" format="PNG" as im %}
								<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" title="ver perfil" /> 
							{% endthumbnail %}
						{% endif %}
						</a>
					</div>
					<div class="udata">
						<div class="uname">
							<a href="{% get_profile_url profile environment.slug %}" rel="nav:people/detail/{{profile.user.username}}">{{ profile.user.username }}</a>
						</div>
						{% with profile.count_reports as report_count %}
							<div class="stats">
								{% if report_count > 0 %}{{ report_count }} aporte{% if report_count > 1 %}s{% endif %}{% endif %}
							</div>
						{% endwith %} 
					</div>
				</div>
				{% cycle "" '</div>' %}
		{% endfor %}
		{% if not profile_list_page.object_list|length|divisibleby:2 %}</div>{% endif %}
		<div class="actual-page" style="display:none">{{ profile_list_page.number }}</div>
	</div>
</div>