{% load comments datea_comments_tags %}
{% get_comment_form for target_object as comment_form %}
<div class="comment-form-container">
	<form id="comment-form-{{ target_object|get_modulename }}-{{ target_object.id }}" class="comment-form" action="" method="post">
		{% csrf_token %}
		<div class="errors"></div>
		<div class="comment-text-area">
			<textarea class="autoresize required text large comment-input {% if not request.user.is_authenticated %}input-login-required{% endif %}" rows="2" cols="120" name="comment" placeholder="escribe un comentario aquí"></textarea>
		</div>
		
		<div class="honey">
			<label for="id_honeypot">Some Honey</label>
			{{ comment_form.honeypot }}
		</div>
		<div class="hide">
			{{ comment_form.content_type}}
			{{ comment_form.object_pk }}
			{{ comment_form.timestamp }}
			{{ comment_form.security_hash }}
		</div>
		<button type="button" class="btn btn-success chico ajax-submit-btn" onclick="Datea.comments.post(this);">Comentar</button>
	</form>
</div>


