{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Activation complete" %}{% endblock %}
{% block content_left %}
    
<h1>{% trans "Account activation" %}</h1>

<p class="desc">
{% blocktrans %}
Thanks, activation complete!  You may now{% endblocktrans %} <a class="btn btn-large btn-primary btn-pointy" href='{% url auth_login %}'>login<div class="pointer"></div></a> {% blocktrans %}using the username and password you set at registration.
{% endblocktrans %}
</p>
{% endblock %}

{% block content_right %}
	{% include "registration/_bubble_login.html" %}
{% endblock %}


