{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% if account %}{% trans "Activation complete" %}{% else %}{% trans "Activation problem" %}{% endif %}{% endblock %}
{% block content_left %}

<h1>{% trans "Account activation" %}</h1>

{% if account %}
<p class="desc">
{% blocktrans %}Thanks {{ account }}, activation complete!  You may now{% endblocktrans %} <a class="btn btn-primary btn-large" href='{% url auth_login %}'>login</a> {% blocktrans %} using the username and password you set at registration.{% endblocktrans %}
{% else %}
{% trans "Oops &ndash; it seems that your activation key is invalid.  Please check the url again." %}
{% endif %}
</p>
{% endblock %}

{% block content_right %}
	<div class="registration-bubble">
		<div class="inner">
			<div class="msg">
				{% trans "Already have an account?"%}
			</div>
			<div class="button">
				<a class="btn btn-pointy btn-large" href="{% url auth_login %}">{% trans "Login" %}</a>
			</div>
		</div>
	</div>
{% endblock %}


