{% extends "registration/registration_base.html" %}
{% load i18n bootstrap_toolkit %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}

<div class="page-header">
    <h1>{% trans "Login" %}</h1>
</div>

<h3>{% trans "Welcome!" %}</h3>

{% include "social_auth/social-auth-login-links.html" %}

{% if request.user.is_authenticated %}<p>{{user.username }}: You are authenticated</p>{% endif %}

<p class="desc">{% trans "Or with your Datea account:" %}</p>

<form class="well" method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}

{{ form|as_bootstrap }}
<p>
<input class="btn btn-primary btn-large" type="submit" value="{% trans 'Login' %}" />
</p>

<p><a href="{% url auth_password_reset %}">{% trans 'Forgot your password?' %}</a> &nbsp;|&nbsp; <a href="{% url registration_register %}">{% trans 'Need an account?' %}</a></p>

<input class="btn" type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
