{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% block title %}{% trans 'Reset password' %}{% endblock %}
{% block content_left %}

<h1>{% trans "Recover password" %}</h1>

<p class="desc">{% trans "Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one" %}</p>

<form class="form" method='post' action=''>{% csrf_token %}

    {{ form|as_bootstrap }}
    <input class="btn btn-primary btn-large btn-pointy" type='submit'>{% trans 'Reset password' %}</button>

</form>
{% endblock %}

{% block content_right %}
	{% include "registration/_bubble_login.html" %}
{% endblock %}
