{% extends "registration/registration_base.html" %}
{% load i18n bootstrap_toolkit %}
{% block title %}{% trans 'Change password' %}{% endblock %}
{% block content_left %}
<h1>{% trans "Change password" %}</h1>

<p>{% trans "Change your password?" %}</p>

<form class="well" method='post' action=''>{% csrf_token %}
    {{ form|as_bootstrap  }}
    <input class="btn" type='submit' value="{% trans 'Change password' %}" />
</form>
{% endblock %}

{% block content_right %}
	<div class="registration-bubble">
		<div class="inner">
			<div class="msg">
				{% trans "Already have an account?"%}
			</div>
			<div class="button">
				<a class="btn btn-pointy btn-large" href="{% url auth_login %}">{% trans "Login" %}</a>
			</div>
		</div>
	</div>
{% endblock %}
