{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans 'Password reset complete' %}{% endblock %}
{% block content_left %}

<h1>{% trans "Password reset" %}</h1>

<div class="alert alert-success">Your password has been reset!</div>
<p class="desc">
{% blocktrans %}You may now &nbsp;<a class="btn btn-large btn-primary" href="{{ login_url }}">log in</a>{% endblocktrans %}
</p>
{% endblock %}

{% block content_right %}
	<div class="registration-bubble">
		<div class="inner">
			<div class="msg">
				{% trans "Already have an account?"%}
			</div>
			<div class="button">
				<a class="btn btn-pointy btn-large" href="{% url auth_login %}">{% trans "Login" %}</a>
			</div>
		</div>
	</div>
{% endblock %}
