{% extends "registration/registration_base.html" %}
{% load i18n bootstrap_toolkit %}
{% block title %}{% trans 'Confirm password reset' %}{% endblock %}
{% block content_left %}

<h1>{% trans "Password reset" %}</h1>

<p class="desc">{% trans "Enter your new password below to reset your password" %}:
<form class="form" method="post" action="">{% csrf_token %}
    {{ form|as_bootstrap }}
    <button class="btn btn-primary btn-pointy btn-large btn-uppercase" type="submit">{% trans 'Set password' %}<div class="pointer"></div></button>
</form>
{% endblock %}

{% block content_right %}
	{% include "registration/_bubble_login.html" %}
{% endblock %}


