{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block content_left %}

<h1>{% trans "Password reset" %}</h1>

<div class="alert alert-success">Your password has been reset!</div>
<p class="desc">
{% blocktrans %}You may now &nbsp;<a class="btn btn-primary btn-pointy btn-large btn-uppercase" href="{{ login_url }}">log in<div class="pointer"></div></a>{% endblocktrans %}
</p>
{% endblock %}

{% block content_right %}
	{% include "registration/_bubble_login.html" %}
{% endblock %}
