{% extends "registration/registration_base.html" %}
{% load i18n bootstrap_toolkit %}
{% block title %}{% trans 'Register for an account' %}{% endblock %}
{% block content_left %}

<h1>{% trans "Register" %}</h1>

{% include "social_auth/social-auth-login-links.html" %}

<p class="desc">{% trans "Or you can register an account here at Datea:" %}</p>

<form class="form" method='post' action=''>
		{% csrf_token %}
        {{ form|as_bootstrap }}
        <input class="btn btn-primary btn-large" type="submit" value="{% trans 'Register' %}" />
</form>
{% endblock %}

{% block content_right %}
	<div class="registration-bubble">
		<div class="inner">
			<div class="msg">
				{% trans "Already have an account?"%}
			</div>
			<div class="button">
				<a class="btn btn-pointy btn-large" href="{% url auth_login %}">{% trans "Login" %}</a>
			</div>
		</div>
	</div>
{% endblock %}
