
#action-control {
	.dotted-inner;
	background-color: #e2e2dd;
	padding-top:5px;
	padding-bottom:5px;
}

#action-list {
	margin-left: 0px;
	
	.action-item {
		margin-right: 15px;
		.dotted-inner;
		padding-top:10px;
		padding-bottom:10px;
		
		.teaser-image {
			float: left;
		}
		.teaser-content {
			h3 a {
				color: @grayTextDark;
				&:hover {
					color: @green;
					text-decoration: none;
				}
			}
			.right-corner {
				div { float:left}
				.follow-button {
					margin-right: 10px;
				}
			}
			
			.description {
				margin-bottom: 10px;
			}
			.footer {
				.stats {
					padding-top: 10px;
					font-size: @baseFontSize - 2px;
					.separator:last-child { display:none;}
				}
				.clearfix();
			}
		}
	}
}

#create-mapping {
	.top {
		.clearfix();
		.icon {
			width: 60px;
			height: 50px;
			background: url(../img/datea/mapeo_on.png) no-repeat left top;
			margin-bottom:10px;
		}
		.text {
			float:left;
			margin-left: 10px;
		}
	}
}
