

.comments {
	margin-top:25px;
	
	h3 {
		font-size: 14px;
	}
	
	.comment-list {
		.comment-item {
			margin-bottom: 15px;
			.comment-head{
				.user-image {
					
				}
				.user-data {
					span.date {
						font-size: @baseFontSize - 2px;
						color: @grayLight;
					}
				}
			}
			.comment-content {
			}
		}
	}
	
	.comment-form {
		.control-group {
			margin-bottom:10px;
			textarea {
				margin-bottom: 0px;
			}
		}
	}
}


