
#user-header {
	.image {
		float: left;
		display: block;
		a img {
			margin-top:7px;
			display: block;
		}
	}
}

#login-header {
	text-align: center;
	a.btn-login { margin-top:10px; margin-bottom: 2px}
}
