
#datea-presentation {
	h1 {
		color: @grayTextDark;
	}
	
	.share-group {
		.clearfix();
		margin-bottom: 25px;
		margin-top:10px;
		.share-button {
			float: left;
			display: block;
			width: 130px;
		}
	}
	
	.steps {
		.clearfix();
		margin-bottom: 25px;
		.step {
			float: left;
			width: 30%;
			.inner {
				padding: 0 15px;
				.icon {
					margin-left: 15px;
					height: 65px;
				}	
			}
		}
		.create {
			.icon {
				background: url(../img/datea/home-icon-create.png) no-repeat left center;
			}
		}
		.participate {
			.icon {
				background: url(../img/datea/home-icon-participate.png) no-repeat left center;
			}
		}
		.visualize {
			.icon {
				background: url(../img/datea/home-icon-visualize.png) no-repeat left center;
			}
		}
	}
	
	.footer {
		.clearfix();
		.left { display: block; float:left; width: 50%}
		.right {
			display: block; float:left; width: 50%;
			text-align:right;
			.inner { 
			
			}
		}
	}
}
