
.mapping-content {
	#left-content {
		margin-top: 0px;
		/*background: url(../img/datea/dotted-bg.png) repeat;*/
		.sidebar-inner {
			position: relative;
			margin-top:10px;
			margin-bottom: 15px;
			/*padding-bottom: 15px;*/
		}
		.border-radius(5px);
	}	
}


#mapping-start {
	
	margin-top:15px;
	
	h2 { color: @verde; margin-bottom:5px; font-size:20px; line-height: 30px}
	
	.short-description {
		color: @grayTextDark;
		font-size: 18px;
		line-height: @baseLineHeight + 4px;
		margin-bottom: 10px;
	}
	
	.info {
		display: table-row;
		margin-top: 10px;
		.stats {
			/*padding-right:12px;*/
			display: table-cell;
			.stat-line { color: @verde; font-size: @baseFontSize - 2px; line-height: @baseLineHeight - 2px; margin-right: 10px; min-width: 90px; }
		}
		.create-button {
			display: table-cell;
			vertical-align: middle;
		}
	}
	
	.time-left {
		padding:10px 0 5px 0;
	}
	
	.mapping-header {
		.clearfix();
		display: table-row;
		.left-start-head { float: left; display:block; margin-right: 10px; display: table-cell; vertical-align:top;}
		.right-start-head { display: table-cell; vertical-align: top}
	}
	
	.share-group {
		padding-top: 5px;
		padding-bottom: 5px;
		.clearfix();
		.share-button {
			float:left;
			display: block;
			width:120px;
		}
		.connect_comment_widget, .fb_iframe_widget {
			max-width: 200px !important;
		}
	}
	
	.scroll-area { height: 480px; padding: 0 15px; overflow-y : auto; overflow-x: visible;}
	
	.mapping-about {
		padding: 10px 0;
		border-top: 1px solid #dfdfdf;
		
		h3 { color: @grayLight; font-size: @baseFontSize + 2px; font-weight:normal; margin-bottom: 2px;}
		
		.user-info {
			margin-bottom: 20px;
			.clearfix();
			.image {
				padding-top:5px;
				float: left;
			}
			.user-data {
				margin-left: 69px;
				.sub { color:@grayLight;}
				.uname {
					font-size: @baseFontSize + 8px;
					a {
						color: @grayText;
					}
					margin-bottom:6px;
				}
			}
		}
		
		.field {
			margin-bottom: 15px;
			.field-label {
				margin-bottom: 3px;
				color: @verde;
				font-weight: bold;
				font-size: @baseFontSize + 2px;
			}
			.field-content {}
		}
		
	}
	
}

#mapping-reports-view {
	.item-filters {
		padding-top: 10px;
		padding-bottom: 4px;
		.clearfix();
		border-bottom: 1px solid #dfdfdf;
		margin: 0 15px;
		.filter-controls {
			.btn-group {
				display: inline-block;
				.ie7-inline-block();
			}
		}
	}

	.scroll-area {
		padding-top: 15px;
		height: 480px;
		overflow-y : auto;
		overflow-x: hidden;
		.item-list { margin: 0px 15px; }
		.item-pager {
			padding:10px 15px;
			a { color: @gray;
				&:hover { @grayDark;}
			}
		}
	}
}
