
.post-user-data {
	.clearfix();
	padding-bottom: 7px;
	
	.user-picture {
		float: left;
		margin-right: 9px;
		a {
			font-size: @baseFontSize + 1px;
			font-weight: bold;
			display: block;
			text-decoration: none;
			img { display: block; border: 0; }
		}
	}
	.data {
		padding-top:1px;
		
		.username {
			a { .grayLink();  }
		}
		.date {
			color: @verde;
			line-height: @baseLineHeight - 2px;
			font-size: @baseFontSize - 3px;
		} 
	}
}

.map-item {
	.stats {
		font-size: @baseFontSize - 2px;
		padding: 0 0 10px 0;
		.separator {
			margin:0 4px;
			&:last-child { display: none;}	
		}
	}
	.status {
		height: 23px;
		width: 22px;
		display:block;
		float: right;
	}
	.status-new {
		display: none;
	}
	.status-reviewed {
		background: url(../img/datea/dateo_estados.png) no-repeat -22px top;
	}
	.status-solved {
		background: url(../img/datea/dateo_estados.png) no-repeat -44px top;
	}
}


.map-item.popup {
	min-width: 220px;
	position: relative;
	font-size: @baseFontSize - 1px;
	line-height: @baseLineHeight - 3px;
	.head {
		margin-right: 20px;
		.data {
			padding-top: 0px;
		}
	}
	.stats {
		/*padding: 0 0 8px 0;*/
	}
	.content {
		.field {
			max-width: 280px;
			padding: 9px 0 2px 0;
		}
	}
	.buttons {
		padding-top: 5px;
	}
}


.map-item.full,.map-item.teaser {
	.head {
		.data {
			.username {
				font-size: @baseFontSize + 1px;
			}
		}
	}
	
	.content {
		.field {
			padding: 10px 0;
		}
	}
}


.map-item.teaser {
	
	padding-bottom: 20px;
	border-bottom: 1px dashed @graySeparator;
	margin-bottom: 14px;
}

.map-item-full-header {
	.clearfix();
	padding-top: 10px;
	padding-bottom: 9px;
	margin: 0 15px;
	border-bottom: 1px solid #dfdfdf;
	.back-link { padding-top: 3px;}
}

.map-item.full {
	padding: 0 15px;
	.widgets {
		margin-top:10px;
		.clearfix();
		.share-group {
			float: left;
			.share-button {
				float:left;
				&.fb-share {
					width:120px;
				}
				&.tw-share {
					width: 100px;
				} 				
			}
			.connect_comment_widget, .fb_iframe_widget {
				max-width: 200px !important;
			}
		}
		.datea-widgets {
			margin-left: 15px;
			float: left;
			padding-left: 0px;
		}
	}
}


.map-item-reply {
	background-color: white;
	border: 1px solid #c4c4c4;
	max-width: 400px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom:10px;
	.border-radius(8px);
	position:relative;
	.esquina {
		left: 20px;
		top: -9px;
		position: absolute;
		display: block;
		width: 18px;
		height: 9px;
		background: url(../img/datea/esquina_respuesta.png) no-repeat top left;
	}
}


