
.mapping-tabs {
	margin-bottom: 10px;
}


#mapping-start {
	
	h2 { color: @verde; margin-bottom:5px; font-size:20px;}
	
	.short-description {
		color: @grayTextDark;
		font-size: 18px;
		margin-bottom: 10px;
	}
	
	.info {
		margin-top: 10px;
		.stats {
			.stat-line { color: @verde; font-size: @baseFontSize - 2px; line-height: @baseLineHeight - 2px;}
		}
	}
	
	.mapping-about {
		padding: 15px 0;
		.field {
			margin-bottom: 15px;
			.field-label {
				margin-bottom: 3px;
				color: @verde;
				font-weight: bold;
				font-size: @baseFontSize;
			}
			.field-contet{}
		}
		
	}
	
}
