
#mapping-form {
	
	.tab-content {
		padding-top: 15px;
	}
	
	#mapping-categories {
		padding-bottom:20px;
	}
	
	#mapping-settings {
		.control-group {
			margin-bottom:20px;
		}
	}
}

.mapping-items-admin {
	.filters {
		.filter {padding-left: 20px;}
	}
}


.map-item-admin-table {
	
	.map-item.admin-full {
		table {
			border:0;
			width: 100%;
			max-width: auto;
			td { border:0; background-color: transparent}
			.item-content-left {
				.field { margin-top: 10px;}
				.images {margin-top: 15px;}
			}
			.item-content-right {width:280px; padding-left: 20px;}
		}
	}
	.item-admin-form {
		background-color: #ccc;
		padding: 5px 10px;
		span {display: inline-block; .ie7-inline-block();}
		.field { margin-left: 15px;}
		.free-space { width: 45px;}
		.buttons {
			button {margin-right: 15px;}
		}
	}
}
