

.data-view-head {
	.clearfix();
	.head-icon {
		display: inline-block;
		.ie7-inline-block();
		height: 28px;
		line-height: 28px;
		vertical-align: text-bottom;
	}
	.json {
		width: 23px;
		background: url(../img/datea/iconos-mapa-top.png) no-repeat -46px 0px;
	}
	
}


.data-view-categories {
	margin: 5px 0;
	list-style: none;
	.clearfix();
	li {
		list-style: none;
		line-height: @baseLineHeight - 3px !important;
		.clearfix();
		list-style-position:inside;
		float: left;
		.color-sample {
			float:left;
			width:15px;
			margin-right:5px;
		}
		.name {
			float:left;
			width:95px;
			display: inline-block;
			font-size: @baseFontSize - 1px;
		}
	}
}
