
.data-view-categories {
	margin: 5px 0;
	list-style: none;
	.clearfix();
	li {
		list-style: none;
		.clearfix();
		list-style-position:inside;
		float: left;
		.color-sample {
			float:left;
			width:20px;
			margin-right:5px;
		}
		.name {
			float:left;
			width:100px;
			display: inline-block;
		}
	}
}
