
.user-profile {
	
	padding-top: 5px !important;
	margin-top:38px !important;
	
	.head {
		.clearfix();
		margin-bottom:10px;
		
		h1 {
			margin-bottom: 2px;
		}
		
		.profile-info {
			.clearfix();
			.profile-img-large {
				float: left;
				margin-right: 5px;
			}
			.stats {
				padding:10px 0;
				font-size: @baseFontSize - 1px;
				.stat {
					color: @verde;
				}
				.separator {
					padding: 0 4px;
				}
				.separator:last-child {display:none}
			}
		}
	}
	.profile-extra {
		margin-top: 12px;
		.message { color: @grayTextDark; font-size: @baseFontSize + 1px;}		
	}
	
	.profile-actions {
		margin-top:20px;
	}
}



.profile-tabs {
	margin-top:10px;
}
.profile-tab-content {
	padding: 20px 18px;
	margin-bottom: 15px;
}

#user-edit-window-head {
	border-bottom: 0px;
}

#user-edit-window-body {
	
	padding-top:0px;
	
	#notify-settings-form {
		.control-group {
			.control-label {
				width: 250px;
				text-align: left;
			}
			.controls {
				margin-left: 250px;
			}
		}
	}
}
