
span.caret2 {
    background: url(../img/datea/caret.png) no-repeat center center;
    width: 15px;
    display:inline-block;
    .ie7-inline-block();
    .opacity(50);    
}

a {
	&:hover span.caret2 {
    	.opacity(100);
   }
}

.paginator {
	li {
		a {
			padding: 1px 5px;
		}
		float:left; display: block; 
		padding: 0 4px;
		&.separator { padding: 0px}
		&.dots { padding: 0 10px;}
		
		&.first, &.last, &.next, &.prev {
			padding: 0;
		}
		&.active a {
			background-color: @amarillo;
		}
	}
}

.datea_widget_base() {
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	.ie7-inline-block();
	
	.widget-icon {
		display: block;
		float: left;
	}
	
	.widget-text {
		display: block;
		float: left;
	}
	
	.widget-hover-msg {
		display: none;
	}
	
	&.force-hover {
		.widget-hover-msg { display: block;}
		.widget-info { display: none;}
	}
	
	&:hover {
		.widget-hover-msg { display:block;}
		.widget-info { display: none }
	}
	
	&.after-click {
		.widget-hover-msg { display: none}
		.widget-info {display:block}
	}
}

.datea_widget_small_base() {
	.widget-icon {
		width: 23px;
		height: 24px;
	}
	.widget-text {
		width: 60px;
		height: @baseLineHeight +  @baseLineHeight - 8px;
		padding-left: 5px;
		.widget-hover-msg {
			font-size: @baseFontSize - 2px;
			line-height: @baseLineHeight - 5px;
		}
		.widget-info {
			line-height: @baseLineHeight - 4px;
			margin:0px;
			.counter {padding-left:5px; }
			.widget-info-label {
				font-size: @baseFontSize - 2px;
			}
		}
	}
}


.follow-widget.full-small {
	.datea_widget_base();
	.datea_widget_small_base();
	
	.widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat 0px center; }
	
	&:hover .widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -23px center; }
	
	&.active {
		.widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -46px center; }
		&:hover .widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -69px center; }
	}
	
	&.after-click {
		.widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat 0px center; }
		&.active .widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -46px center; }
	}
	
	&.read-only {
		cursor: default;
		.widget-icon, &:hover .widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat 0px center; }
		&.active {
			.widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -23px center; }
			&:hover .widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -23px center; }
		}
	}
}

.follow-widget.button-small {
	cursor: pointer;
	width: 18px;
	a { width: 18px; display: inline-block; .ie7-inline-block(); &:hover {text-decoration: none}}
	.widget-icon {
		width: 18px;
		height: 18px;
		background: url(../img/datea/seguir_estados.png) no-repeat -18px center;
	}
	
	/*
	&:hover .widget-icon {
		background: url(../img/datea/seguir_estados.png) no-repeat 0px center;
	}*/
	
	&.active {
		.widget-icon {
			background: url(../img/datea/seguir_estados.png) no-repeat 0px center;
		}
		&:hover .widget-icon { background: url(../img/datea/seguir_estados.png) no-repeat -36px center; }
	}
	
	&.after-click {
		.widget-icon { background: url(../img/datea/seguir_estados.png) no-repeat -18px center; }
		&.active .widget-icon { background: url(../img/datea/seguir_estados.png) no-repeat 0px center; }
	}
}


.vote-widget.full-small {
	.datea_widget_base();
	.datea_widget_small_base();
	
	.widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -92px center; }
	
	&:hover .widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -115px center; }
	
	&.active {
		.widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -138px center; }
		&:hover .widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -138px center; }
	}
	
	&.after-click {
		.widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -115px center; }
		&.active .widget-icon { background: url(../img/datea/widgets_icons_small.png) no-repeat -138px center; }
	}
}
