Brlapi==0.5.6
CouchDB==0.8
Cython==0.15.1
Django==1.3
Fabric==1.3.2
GDAL==1.7.3
GnuPGInterface==0.3.2
Mako==0.5.0
MarkupSafe==0.15
MySQL-python==1.2.3
PAM==0.4.2
PIL==1.1.7
Pinax==0.9a1
PyYAML==3.10
Skype4Py==1.0.32.0
South==0.7.3
Twisted-Core==11.1.0
Twisted-Names==11.1.0
Twisted-Web==11.1.0
adium-theme-ubuntu==0.3.2
apparmor==2.7.102
apt-xapian-index==0.44
apturl==0.5.1ubuntu3
argparse==1.2.1
ccsm==0.9.5.92
chardet==2.0.1
cmsplugin-contact==0.9.8
command-not-found==0.2.44
compizconfig-python==0.9.5.94
configglue==1.0
configobj==4.7.2
cssutils==0.9.8
debtagshw==0.1
decorator==3.3.2
defer==1.0.2
dirspec==3.0.0
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
django-appmedia==1.0.1
django-assets==0.2
django-asterisk==0.1
django-classy-tags==0.3.3.1
django-cms==2.1.3
django-compressor==0.9.2
django-debug-toolbar==0.8.5
django-extensions==0.6
duplicity==0.6.18
httplib2==0.7.2
ipython==0.12.1
jockey==0.9.7
keyring==0.7.1
language-selector==0.1
launchpadlib==1.9.12
lazr.restfulclient==0.12.0
lazr.uri==1.0.3
louis==2.3.0
matplotlib==1.1.1rc
mercurial==2.0.2
networkx==1.6
nose==1.1.2
numpy==1.6.1
nvidia-common==0.0.0
oauth==1.0.1
onboard==0.97.1
oneconf==0.2.8.1
paramiko==1.7.7.1
pdfshuffler==0.6.0
pexpect==2.3
piston-mini-client==0.7.2
protobuf==2.4.1
pyOpenSSL==0.12
pyPdf==1.13
pycrypto==2.4.1
pycups==1.9.61
pycurl==7.19.0
pygame==1.9.1release
pygraphviz==1.1
pyinotify==0.9.2
pyparsing==1.5.2
pyproj==1.8.9
pyserial==2.5
pysmbc==1.0.13
pysvg==0.2.1
python-apt==0.8.3ubuntu7
python-dateutil==1.5
python-debian==0.1.21ubuntu1
python-virtkey==0.60.0
pytz==2011k
pyxdg==0.19
rdflib==2.4.2
reportlab==2.5
scipy==0.9.0
screen-resolution-extra==0.0.0
sessioninstaller==0.0.0
simplegeneric==0.7
simplejson==2.3.2
software-center-aptd-plugins==0.0.0
svg.charts==2.0.9
svgwrite==0.2.4
system-service==0.1.6
ubuntuone-couch==0.3.0
ubuntuone-installer==3.0.2
ubuntuone-storage-protocol==3.0.2
ufw==0.31.1-1
unattended-upgrades==0.1
unity-lens-video==0.3.5
unity-scope-video-remote==0.3.5
usb-creator==0.2.23
vboxapi==1.0
virtualenv==1.7.1.2
wadllib==1.3.0
webassets==0.5
wsgiref==0.1.2
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xdiagnose==2.5.2ubuntu0.1
xkit==0.0.0
xlwt==0.7.4
zope.interface==3.6.1
