-e git://github.com/PaulUithol/backbone-tastypie.git@f253883cc908a643f3b017f5cd848f3180d75567#egg=Backbone_tastypie-dev
Django==1.4
PIL==1.1.7
South==0.7.5
argparse==1.2.1
distribute==0.6.24
django-appconf==0.5
django-bootstrap-toolkit==2.5.3
django-compressor==1.1.2
django-debug-toolbar==0.9.4
django-extensions==0.8
django-grappelli==2.3.8
-e git://github.com/lukaszb/django-guardian.git@6e88f841c4a8413e1c1202d17e860ba18616126e#egg=django_guardian-dev
django-mptt==0.5.2
django-olwidget==0.50
django-registration==0.8
django-social-auth==0.6.9
-e git://github.com/toastdriven/django-tastypie.git@fba248c623f9088b8876faf84e94fc5ea7b5eee7#egg=django_tastypie-dev
easy-thumbnails==1.0.3
httplib2==0.7.4
mimeparse==0.1.3
oauth2==1.5.211
psycopg2==2.4.5
python-dateutil==1.5
python-openid==2.2.5
wsgiref==0.1.2
