<!DOCTYPE html>
<html lang="en">
  <head>
  	
  	<meta charset="utf-8">
  	 	
  		<title>DATEA</title>
  		
  		{# META STUFF #}
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
  		<meta name="description" content="">
    	<meta name="author" content="">
    	
  		{# FAVICONS #}
		<link rel="shortcut icon" href="assets/ico/favicon.ico">	
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

		{# CSS #}
		<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/datea.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ STATIC_URL }}openlayers-dev/theme/default/style.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}openlayers-dev/theme/default/google.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}olwidget/css/olwidget.css" />
			
		{% block extra_head %}{% endblock %}
		
		{% block icanhaz %}
		
			{# main stuff #}
			{% include "ich/fix_base_content_single.html" %}
			{% include "ich/fix_base_content_split.html" %}
			{% include "ich/fluid_base_content_split.html" %}
			{% include "ich/pagination.html" %}
			
			{# Image templates #}
			{% include "ich/image_input.html" %}
			{% include "ich/image_carousel.html" %}
			
			{# User/Profile templates #}
			{% include "ich/my_profile.html" %}
			{% include "ich/my_user_head.html" %}
			{% include "ich/my_user_edit.html" %}
			{% include "ich/post_user_data.html" %}
			
			{# Action templates #}
			{% include "ich/action_list.html" %}
			{% include "ich/action_list_item.html" %}
			{% include "ich/action_create.html" %}
			
			{# Category Templates #}
			{% include "ich/free_category_edit.html" %}
			{% include "ich/free_category_edit_list.html" %}
			{% include "ich/free_category_edit_list_item.html" %}
			{% include "ich/free_category_form_options.html" %}
			{% include "ich/free_category_leyend.html" %}
			
			{# Mapping templates #}
			{% include "ich/mapping_form.html" %}
			{% include "ich/mapping_edit_boundary.html" %}
			{% include "ich/mapping_edit_point.html" %}
			{% include "ich/mapping_control_button.html" %}
			{% include "ich/mapping_sidebar_main.html" %}
			{% include "ich/mapping_data_view.html" %}
			{% include "ich/mapping_tab_start.html" %}
			{% include "ich/mapping_tab_map_items.html" %}
			
			{% include "ich/map_item.html" %}
			{% include "ich/map_item_form.html" %}
			{% include "ich/map_item_form_verify.html" %}
			{% include "ich/map_item_form_success.html" %}
			{% include "ich/map_base_content_split.html" %}
			
			{% include "ich/mapping_admin.html" %}
			{% include "ich/map_item_response.html" %}
			
			{# comment templates #}
			{% include "ich/comment.html" %}
			
			{# follow/history templates #}
			[# include "ich/follow_widgets.html" #]
			{% include "ich/history.html" %}
	
		{% endblock %}  
  </head>
  
  <body class="{% block body_class %}{% endblock %}">
  	
  	{# BODY BLOCK #}
  	{% block body %}{% endblock %} 
  	
  	{# MODAL #}
  	<div class="modal hide" id="modal-wrap-view"></div>
  	
  	{# CSRF TOKEN FOR AJAX STUFF #}
  	<form class="hide" id="crsf-form">
  		{% csrf_token %}
  	</form>
  	
  	{# JS LIBS #}
  		<script type="text/javascript">Datea = {};</script>
  		<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"></script>
  		<script src="{{ STATIC_URL }}js/libs/modernizr.custom.05031.js"></script>
  		<script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
  		<script src="{{ STATIC_URL }}js/libs/json2.js"></script>
  		<script src="{{ STATIC_URL }}js/libs/date.format.js"></script>
  		<script src="{{ STATIC_URL }}js/libs/underscore.js"></script>
  		<script src="{{ STATIC_URL }}js/libs/backbone.js"></script>
  		<script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
  		<script src="{{ STATIC_URL }}js/libs/ICanHaz.js"></script>
  		<script src="{{ STATIC_URL }}js/libs/jquery.iframe-transport.js"></script>
  		<script src="{{ STATIC_URL }}js/libs/jquery.serializeObject.js"></script>
  		<script src="{{ STATIC_URL }}js/libs/jquery.autosize-min.js"></script>
  		<script src="{{ STATIC_URL }}js/autoresize_text_areas.js"></script>
  		<script src="{{ STATIC_URL }}js/utils.js"></script>
  		
  		{# <script src="{{ STATIC_URL }}openlayers-dev/OpenLayers.js"></script> #}
  		<script src="{{STATIC_URL}}openlayers-2.11/OpenLayers.js"></script>
  		<script src="{{STATIC_URL}}openlayers-2.11/ol_google_patch_for_2.11.js"></script>
  		<script type="text/javascript">OpenLayers.ImgPath = "/static/img/openlayers/";</script>
  		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  		<script src='http://openstreetmap.org/openlayers/OpenStreetMap.js'></script>
  		<script src="{{ STATIC_URL }}olwidget/js/olwidget.js"></script>
  		<script src="{{ STATIC_URL }}olwidget/js/datea_editable_multi_layer.js"></script>
  		<script src="{{ STATIC_URL }}olwidget/js/datea_editable_point_layer.js"></script>
  		<script src="{{ STATIC_URL }}olwidget/js/datea_mapping_main_map.js"></script>
  		<script src="{{ STATIC_URL }}js/ajax_load.js"></script>
		
		<script type="text/javascript">
		  	addthis_config = 
			{
				pubid: 'ra-4dde786746213764',
				ui_language: 'es',
				data_track_clickback: true,
				async: 1
			};
			addthis_share =
			{
		   		description: 'Comparte este dateo',
		   		templates: { twitter: 'nuevo #dateo en datea.pe'},
				email_template: 'dateo',
			}
		</script>
  		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#async=1&pubid=ra-4dde786746213764"></script>
  		<script src="{{ STATIC_URL }}js/datea_share.js"></script>
  		
		<script src="{{ STATIC_URL }}js/main_bone.js"></script>
		<script src="{{ STATIC_URL }}js/layout_bone.js"></script>
		<script src="{{ STATIC_URL }}js/paginator_bone.js"></script>
		<script src="{{ STATIC_URL }}js/image_bone.js"></script>
		<script src="{{ STATIC_URL }}js/category_bone.js"></script>
		<script src="{{ STATIC_URL }}js/action_bone.js"></script>
		<script src="{{ STATIC_URL }}js/profile_bone.js"></script>
		<script src="{{ STATIC_URL }}js/mapping/mapping_main_bone.js"></script>
		<script src="{{ STATIC_URL }}js/mapping/mapping_form_bone.js"></script>
		<script src="{{ STATIC_URL }}js/mapping/mapping_data_view_bone.js"></script>
		<script src="{{ STATIC_URL }}js/mapping/map_item_bone.js"></script>
		<script src="{{ STATIC_URL }}js/mapping/map_item_form_bone.js"></script>
		<script src="{{ STATIC_URL }}js/mapping/mapping_admin_bone.js"></script>
		<script src="{{ STATIC_URL }}js/comment_bone.js"></script>
		
  		{% block footer_js %}{% endblock %}
  		
  		{% load datea_profile_tags %}
  		<script type="text/javascript">
		$(document).ready(function(){
			
			// init user (bootstrapped)
			window.Datea.my_user = new Datea.User();
			Datea.init_my_user_views();
			Datea.my_user.set({% get_user_resource %});
			
			// init stuff
			Datea.modal_view = new Datea.ModalWrapView({'el': $('#modal-wrap-view')});
			Datea.layout_view = new Datea.LayoutView({el:$('body')});
			
			// start Router
			if (typeof(Datea.AppRouter) != 'undefined') {
				Datea.app = new Datea.AppRouter();
				Backbone.history.start();
			}
		});
		</script>
  		
  </body>
</html>