{% extends "base.html" %}

{% block body %}
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">DATEA</a>
				<div class="pull-right">
					<div id="profile_head_view">
						
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	{% block main_content %}
		<div id="main-content" class="container">
			<div class="inner">
				<div class="row">
					<div id="left-content" class="span6">
						{% block main_left %}izquierda{% endblock %}
					</div>
					<div id="right-content" class="span6">
						{% block main_right %}derecha{% endblock %}
					</div>
				</div>
			</div>
		</div>
	{% endblock%}

{% endblock %}
