{% extends "base.html" %}


{% block body %}
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">DATEA</a>
				<div class="pull-right">
					{% block user_login %}{% endblock %}
				</div>
			</div>
		</div>
	</div>	
	
	{% block main_content %}
		<div class="container">
			<header>
				<div class="row">
					<div class="span6">izquierda</div>
					<div class="span6">derecha</div>
				</div>
			</header>
		</div>
	{% endblock%}

{% endblock %}
