{% extends "base.html" %}
{% load i18n %} 

{% block body %}
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="/" id="logo">
					<img src="{{STATIC_URL}}img/datea/logo_header.png" />
				</a>
				<div class="pull-right">
					<div id="user_head_view">
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	{% block main_content_wrap %}
	<div class="main-content-wrap">
		<div id="main-content" class="container">
			<div id="main-content-view" class="inner">{% block main_content %}{% endblock %}</div>
		</div>
	</div>
	{% endblock%}
	
	{% block footer %}
		<div id="footer">
			<div class="inner container">
				<div class="row">
					<div id="footer-left" class="span6">&nbsp;</div>
					
					<div id="footer-right" class="span6">
						<div class="pull-right">
							<div class="copyfight">
								<img src="{{ STATIC_URL }}img/datea/logo-footer.png" alt="Datea" />
								<span>datea, todos somos dateros. &copy; {% now 'Y' %}</span>
							</div>
							<div class="lafactura">
								{% trans "a project by" %} <a href="http://www.lafactura.com">LaFactura</a>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	{% endblock %}

{% endblock %}
