.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.grayLink {
  color: #555555;
}

.grayLink:hover,
.grayLink.active {
  color: #222222;
}

.prev-link {
  line-height: 30px;
  color: #999999;
  text-decoration: none;
}

.prev-link .icon {
  display: inline-block;
  *display: inline;
  width: 30px;
  *zoom: 1;
}

.prev-link:hover {
  color: #555555;
}

.prev-link .icon {
  margin-right: 8px;
  background: url(../img/datea/prev-next.png) no-repeat 0 center;
}

.prev-link:hover .icon {
  background: url(../img/datea/prev-next.png) no-repeat -30px center;
}

.next-link {
  line-height: 30px;
  color: #999999;
  text-decoration: none;
}

.next-link .icon {
  display: inline-block;
  *display: inline;
  width: 30px;
  *zoom: 1;
}

.next-link:hover {
  color: #555555;
}

.next-link .icon {
  margin-left: 8px;
  background: url(../img/datea/prev-next.png) no-repeat -60px center;
}

.next-link:hover .icon {
  background: url(../img/datea/prev-next.png) no-repeat -90px center;
}

#footer {
  padding-top: 11px;
  padding-bottom: 10px;
  margin-top: 16px;
  border-top: 1px solid #7f7f7f;
}

#logo {
  display: inline-block;
  *display: inline;
  margin-top: 14px;
  *zoom: 1;
}

#logo img {
  display: block;
}

#user_head_view {
  float: left;
}

#user_head_view #user-header .image {
  display: block;
  float: left;
}

#user_head_view #user-header .image a img {
  display: block;
  margin-top: 8px;
}

#user_head_view #user-header ul.nav .dropdown-toggle {
  padding: 6px 0 0 6px;
  font-size: 14px;
}

#user_head_view #login-header {
  display: inline-block;
  *display: inline;
  text-align: center;
  *zoom: 1;
}

#user_head_view #login-header a.btn-login {
  margin-top: 20px;
  margin-bottom: 2px;
  line-height: 24px !important;
}

#setting-controls {
  float: left;
}

#main-content {
  margin-top: 10px;
}

#main-content-wrap {
  min-height: 300px;
}

.span1-5 {
  width: 100px;
  *width: 99px;
}

.span1-75 {
  width: 120px;
  *width: 119px;
}

.span2-5 {
  width: 180px;
  *width: 179px;
}

.span3-5 {
  width: 260px;
  *width: 259px;
}

.span6-5 {
  width: 500px;
  *width: 499px;
}

.span9-5 {
  width: 740px;
  *width: 739px;
}

.span2-fix {
  width: 140px;
  *width: 139px;
}

.span3-fix {
  width: 220px;
  *width: 219px;
}

.span4-fix {
  width: 300px;
  *width: 299px;
}

.span5-fix {
  width: 300px;
  *width: 299px;
}

.span6-fix {
  width: 460px;
  *width: 459px;
}

.span6-fix-complement {
  width: 460px;
  *width: 459px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .span1-5 {
    width: 73px;
    *width: 72px;
  }
  .span1-75 {
    width: 88.5px;
    *width: 87.5px;
  }
  .span2-5 {
    width: 135px;
    *width: 134px;
  }
  .span3-5 {
    width: 197px;
    *width: 196px;
  }
  .span6-5 {
    width: 383px;
    *width: 382px;
  }
  .span9-5 {
    width: 569px;
    *width: 568px;
  }
  .span6-fix {
    width: 352px;
    *width: 351px;
  }
  .span6-fix-complement {
    width: 352px;
    *width: 351px;
  }
}

@media (min-width: 1200px) {
  .span1-5 {
    width: 120px;
    *width: 119px;
  }
  .span1-75 {
    width: 145px;
    *width: 144px;
  }
  .span2-5 {
    width: 220px;
    *width: 219px;
  }
  .span3-5 {
    width: 320px;
    *width: 319px;
  }
  .span3-6 {
    width: 320px;
    *width: 319px;
  }
  .span9-5 {
    width: 920px;
    *width: 919px;
  }
  .span6-fix {
    width: 460px;
    *width: 459px;
  }
  .span6-fix-complement {
    width: 680px;
  }
}

#footer #footer-right .lafactura {
  font-size: 13px -1px;
  color: #999999;
  text-align: right;
}

#footer #footer-right .lafactura a {
  color: #999999;
}

#footer #footer-right .lafactura a:hover {
  color: #27bb44;
}

span.ajax-loading.small {
  display: inline-block;
  *display: inline;
  width: 16px;
  padding: 0 10px;
  background: url(../img/ajax-loader-chico.gif) no-repeat center center;
  *zoom: 1;
}

.loading-bg,
.loading-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.loading-big-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.loading-big-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  background: url(../img/ajax-loader-grande.gif) no-repeat center center;
}

.loading-small-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: white;
}

.loading-small-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
  background: url(../img/ajax-loader-chico.gif) no-repeat center center;
}

textarea {
  resize: none;
}

textarea.autoresize {
  height: 18px;
}

textarea.autoresize.double {
  height: 36px;
}

.dropdown-select.no-bg button.dropdown-toggle {
  padding-left: 0;
  background-color: transparent !important;
  box-shadow: none;
}

.dropdown-select.no-bg button.dropdown-toggle:hover {
  background-color: transparent;
  box-shadow: none;
}

.dropdown-select.no-bg.on button.dropdown-toggle {
  background-color: transparent;
}

.dropdown-select.flat button {
  padding: 0 0px;
}

.form .control-group p.help-block,
.form-horizontal .control-group p.help-block {
  margin-top: 4px;
  margin-bottom: 0;
  color: #999999;
}

.social-auth-buttons {
  margin-bottom: 15px;
}

.social-auth-buttons .button-box {
  display: inline-block;
  *display: inline;
  padding: 10px 0;
  background-color: white;
  *zoom: 1;
}

.social-auth-buttons .button-box .login-button {
  display: inline-block;
  *display: inline;
  width: 219px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 0;
  line-height: 30px;
  color: transparent !important;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.social-auth-buttons .button-box .login-button.last {
  margin-bottom: 0;
}

.social-auth-buttons .button-box .login-button.facebook {
  background: url(../img/datea/login_facebook2.png) no-repeat left top;
}

.social-auth-buttons .button-box .login-button.twitter {
  background: url(../img/datea/login_twitter2.png) no-repeat left top;
}

.social-auth-buttons .button-box .login-button.google {
  background: url(../img/datea/login_google2.png) no-repeat left top;
}

.social-auth-buttons .button-box .login-button:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
}

.image-input-item {
  position: relative;
  line-height: 28px;
}

.image-input-item .ajax-loading,
.image-input-item .image-icon,
.image-input-item .delete-image {
  height: 28px;
  margin-bottom: 9px;
  line-height: 28px;
}

.image-input-item .ajax-loading,
.image-input-item .image-icon {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.image-input-item .delete-image,
.image-input-item .ajax-loading.hide {
  display: none;
}

.image-input-item .delete-image,
.image-input-item .image-icon,
.image-input-item .ajax-loading {
  position: relative;
  top: -4px;
}

.image-input-item .image-icon {
  width: 31px;
  background: url(../img/datea/image_input_icon.png) no-repeat center center;
}

.image-input-item.is-full .thumb {
  margin-right: 5px;
}

.image-input-item.is-full .image-icon {
  display: none;
}

.image-input-item.is-full .delete-image {
  display: inline-block;
  *display: inline;
  margin-left: 5px;
  *zoom: 1;
}

.image-input-item.is-empty .thumb {
  display: none;
}

.image-input-item.is-empty .image-icon {
  margin-right: 3px;
}

.image-input-item.is-empty.has-placeholder .thumb {
  display: inline-block;
  margin-right: 5px;
}

.image-input-item.is-empty.has-placeholder .image-icon {
  display: none;
}

.image-input-m2m .add-button {
  margin-top: 10px;
}

.image-input-m2m .image-input-item {
  padding-bottom: 15px;
}

.image-input-m2m .image-input-item:last-child {
  padding-bottom: 0;
}

.icono {
  display: inline-block;
  *display: inline;
  width: 20px;
  height: 16px;
  min-height: 16px;
  padding-top: 3px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  *zoom: 1;
}

.icono:last-child {
  *margin-left: 0;
}

.icono.dateo {
  background: url(../img/datea/iconitos.png) no-repeat 0 0;
}

.icono.follow {
  background: url(../img/datea/iconitos.png) no-repeat -20px 0;
}

.icono.comment {
  background: url(../img/datea/iconitos.png) no-repeat -40px 0;
}

.icono.vote {
  background: url(../img/datea/iconitos.png) no-repeat -60px 0;
}

.icono.change {
  background: url(../img/datea/iconitos.png) no-repeat -80px 0;
}

.image-row {
  margin-bottom: 18px;
  *zoom: 1;
}

.image-row:before,
.image-row:after {
  display: table;
  content: "";
}

.image-row:after {
  clear: both;
}

.image-row a {
  float: left;
  margin-right: 4px;
}

.image-row a:last-child {
  margin-right: 0;
}

.image-row a img {
  display: block;
  width: 137px;
}

/*
/* =========================================================
 * bootstrap-lightbox.css v0.1
 *
 * =========================================================
 * Copyright 2012 Jason Butz
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================= */

.lightbox {
  position: relative;
  top: 70px;
  z-index: 1050;
  display: block;
  line-height: 0;
  text-align: center;
  background-color: transparent;
}

.lightbox-content {
  display: inline-block;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

span.caret2 {
  display: inline-block;
  *display: inline;
  width: 15px;
  background: url(../img/datea/caret.png) no-repeat center center;
  opacity: 0.5;
  filter: alpha(opacity=50);
  *zoom: 1;
}

a:hover span.caret2 {
  opacity: 1;
  filter: alpha(opacity=100);
}

.paginator li {
  display: block;
  float: left;
  padding: 0 4px;
}

.paginator li a {
  padding: 1px 5px;
}

.paginator li.separator {
  padding: 0;
}

.paginator li.dots {
  padding: 0 10px;
}

.paginator li.first,
.paginator li.last,
.paginator li.next,
.paginator li.prev {
  padding: 0;
}

.paginator li.active a {
  background-color: #ecff00;
}

.follow-widget.small {
  display: inline-block;
  *display: inline;
  overflow: hidden;
  cursor: pointer;
  *zoom: 1;
}

.follow-widget.small .icon {
  display: block;
  float: left;
}

.follow-widget.small .text {
  display: block;
  float: left;
}

.follow-widget.small .hover-msg {
  display: none;
}

.follow-widget.small.force-hover .hover-msg {
  display: block;
}

.follow-widget.small.force-hover .info {
  display: none;
}

.follow-widget.small:hover .hover-msg {
  display: block;
}

.follow-widget.small:hover .info {
  display: none;
}

.follow-widget.small.after-click .hover-msg {
  display: none;
}

.follow-widget.small.after-click .info {
  display: block;
}

.follow-widget.small .icon {
  width: 23px;
  height: 24px;
}

.follow-widget.small .text {
  width: 60px;
  height: 28px;
  padding-left: 5px;
}

.follow-widget.small .text .hover-msg {
  font-size: 11px;
  line-height: 13px;
}

.follow-widget.small .text .info {
  line-height: 14px;
}

.follow-widget.small .text .info .counter {
  padding-left: 5px;
}

.follow-widget.small .text .info .info-label {
  font-size: 11px;
}

.follow-widget.small .icon {
  background: url(../img/widgets_icons_small.png) no-repeat 0 center;
}

.follow-widget.small:hover .icon {
  background: url(../img/widgets_icons_small.png) no-repeat -23px center;
}

.follow-widget.small.active .icon {
  background: url(../img/widgets_icons_small.png) no-repeat -46px center;
}

.follow-widget.small.active:hover .icon {
  background: url(../img/widgets_icons_small.png) no-repeat -69px center;
}

.follow-widget.small.after-click .icon {
  background: url(../img/widgets_icons_small.png) no-repeat 0 center;
}

.follow-widget.small.after-click.following .icon {
  background: url(../img/widgets_icons_small.png) no-repeat -46px center;
}

.vote-widget.small {
  display: inline-block;
  *display: inline;
  overflow: hidden;
  cursor: pointer;
  *zoom: 1;
}

.vote-widget.small .icon {
  display: block;
  float: left;
}

.vote-widget.small .text {
  display: block;
  float: left;
}

.vote-widget.small .hover-msg {
  display: none;
}

.vote-widget.small.force-hover .hover-msg {
  display: block;
}

.vote-widget.small.force-hover .info {
  display: none;
}

.vote-widget.small:hover .hover-msg {
  display: block;
}

.vote-widget.small:hover .info {
  display: none;
}

.vote-widget.small.after-click .hover-msg {
  display: none;
}

.vote-widget.small.after-click .info {
  display: block;
}

.vote-widget.small .icon {
  width: 23px;
  height: 24px;
}

.vote-widget.small .text {
  width: 60px;
  height: 28px;
  padding-left: 5px;
}

.vote-widget.small .text .hover-msg {
  font-size: 11px;
  line-height: 13px;
}

.vote-widget.small .text .info {
  line-height: 14px;
}

.vote-widget.small .text .info .counter {
  padding-left: 5px;
}

.vote-widget.small .text .info .info-label {
  font-size: 11px;
}

.vote-widget.small .icon {
  background: url(../img/widgets_icons_small.png) no-repeat -92px center;
}

.vote-widget.small:hover .icon {
  background: url(../img/widgets_icons_small.png) no-repeat -115px center;
}

.vote-widget.small.active .icon {
  background: url(../img/widgets_icons_small.png) no-repeat -138px center;
}

.vote-widget.small.active:hover .icon {
  background: url(../img/widgets_icons_small.png) no-repeat -138px center;
}

.vote-widget.small.after-click .icon {
  background: url(../img/widgets_icons_small.png) no-repeat -115px center;
}

.vote-widget.small.after-click.voted .icon {
  background: url(../img/widgets_icons_small.png) no-repeat -138px center;
}

.post-user-data {
  padding-bottom: 7px;
  *zoom: 1;
}

.post-user-data:before,
.post-user-data:after {
  display: table;
  content: "";
}

.post-user-data:after {
  clear: both;
}

.post-user-data .user-picture {
  float: left;
  margin-right: 9px;
}

.post-user-data .user-picture a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.post-user-data .user-picture a img {
  display: block;
  border: 0;
}

.post-user-data .data {
  padding-top: 1px;
}

.post-user-data .data .username a {
  color: #555555;
}

.post-user-data .data .username a:hover,
.post-user-data .data .username a.active {
  color: #222222;
}

.post-user-data .data .date {
  font-size: 10px;
  line-height: 16px;
  color: #27bb44;
}

.map-item .stats {
  padding: 0 0 10px 0;
  font-size: 11px;
}

.map-item .stats .separator {
  margin: 0 4px;
}

.map-item .stats .separator:last-child {
  display: none;
}

.map-item.popup {
  position: relative;
  min-width: 220px;
  font-size: 12px;
  line-height: 15px;
}

.map-item.popup .head {
  margin-right: 20px;
}

.map-item.popup .head .data {
  padding-top: 0;
}

.map-item.popup .stats {
  /*padding: 0 0 8px 0;*/

}

.map-item.popup .content .field {
  max-width: 280px;
  padding: 9px 0 2px 0;
}

.map-item.popup .buttons {
  padding-top: 5px;
}

.map-item.full .head .data .username,
.map-item.teaser .head .data .username {
  font-size: 14px;
}

.map-item.full .content .field,
.map-item.teaser .content .field {
  padding: 10px 0;
}

.map-item.teaser {
  padding-bottom: 20px;
  margin-bottom: 14px;
  border-bottom: 1px dashed #c3c3c3;
}

.map-item-full-header {
  padding-top: 10px;
  padding-bottom: 4px;
  margin: 0 15px;
  border-bottom: 1px solid #dfdfdf;
  *zoom: 1;
}

.map-item-full-header:before,
.map-item-full-header:after {
  display: table;
  content: "";
}

.map-item-full-header:after {
  clear: both;
}

.map-item.full {
  padding: 0 15px;
}

.map-item.full .widgets {
  *zoom: 1;
}

.map-item.full .widgets:before,
.map-item.full .widgets:after {
  display: table;
  content: "";
}

.map-item.full .widgets:after {
  clear: both;
}

.map-item.full .widgets .share-group {
  float: left;
  margin-right: 25px;
}

.map-item.full .widgets .share-group .share-button {
  width: 120px;
  padding-bottom: 7px;
}

.map-item.full .widgets .share-group .share-button:last-child {
  padding-bottom: 0;
}

.map-item.full .widgets .share-group .connect_comment_widget,
.map-item.full .widgets .share-group .fb_iframe_widget {
  max-width: 200px !important;
}

.map-item.full .widgets .datea-widgets {
  float: left;
  padding-top: 10px;
  padding-left: 0;
}

.map-item-reply {
  max-width: 400px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.map-item-form {
  position: relative;
}

.map-item-form .modal-body {
  padding-bottom: 0;
}

.map-item-form .map-item-step-control {
  position: absolute;
  top: 23px;
  right: 230px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  color: #eeeeee;
  border-bottom: 0;
}

.map-item-form .map-item-step-control li a {
  display: inline;
  margin: 0 5px 0 7px;
  color: #cccccc;
  background-color: transparent;
  border: 0;
}

.map-item-form .map-item-step-control li a:hover {
  color: #555555;
  border: 0;
}

.map-item-form .map-item-step-control li.active a {
  color: #5e6e65;
}

.map-item-form .step-title {
  margin-bottom: 15px;
  font-size: 15px;
}

.map-item-form .category-options label.radio {
  margin-bottom: 10px;
  font-size: 14px;
}

.map-item-form .control-group {
  margin-bottom: 15px;
}

.map-item-form .control-group label.control-label {
  margin-bottom: 1px;
  font-size: 12px;
  color: #5e6e65;
}

.map-item-form .control-group.error label.control-label {
  color: #b94a48;
}

.map-item-form .verify-item {
  margin-bottom: 15px;
}

.map-item-form .verify-item .change {
  margin-left: 4px;
  line-height: 16px;
  color: #5e6e65;
  text-decoration: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.map-item-form .verify-item .change:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.map-item-form .verify-item .verify-image {
  margin-bottom: 10px;
}

.map-item-form .success-msg {
  margin-bottom: 10px;
  font-size: 15px;
}

.map-item-form .share {
  padding-top: 15px;
  margin-bottom: 10px;
}

.map-item-form .share .share-text {
  margin-bottom: 5px;
}

.map-item-form .share .share-group {
  padding: 10px 0;
  *zoom: 1;
}

.map-item-form .share .share-group:before,
.map-item-form .share .share-group:after {
  display: table;
  content: "";
}

.map-item-form .share .share-group:after {
  clear: both;
}

.map-item-form .share .share-group .share-button {
  display: block;
  float: left;
  width: 110px;
}

.map-item-form .share .share-group .connect_comment_widget,
.map-item-form .share .share-group .fb_iframe_widget {
  max-width: 200px !important;
}

.step-control .prev {
  line-height: 30px;
  color: #999999;
  text-decoration: none;
}

.step-control .prev .icon {
  display: inline-block;
  *display: inline;
  width: 30px;
  *zoom: 1;
}

.step-control .prev:hover {
  color: #555555;
}

.step-control .prev .icon {
  margin-right: 8px;
  background: url(../img/datea/prev-next.png) no-repeat 0 center;
}

.step-control .prev:hover .icon {
  background: url(../img/datea/prev-next.png) no-repeat -30px center;
}

.step-control .next {
  line-height: 30px;
  color: #999999;
  text-decoration: none;
}

.step-control .next .icon {
  display: inline-block;
  *display: inline;
  width: 30px;
  *zoom: 1;
}

.step-control .next:hover {
  color: #555555;
}

.step-control .next .icon {
  margin-left: 8px;
  background: url(../img/datea/prev-next.png) no-repeat -60px center;
}

.step-control .next:hover .icon {
  background: url(../img/datea/prev-next.png) no-repeat -90px center;
}

/*********************
 * OPENLAYERS / OLWIDGET
 */

.olwidgetEditableLayerSwitcher div {
  display: none;
}

.olwidgetEditableLayerSwitcher .olwidgetContainer {
  display: block;
  background-color: black !important;
}

.olwidgetEditableLayerSwitcher .olwidgetContainer div {
  display: block;
}

.olControlLayerSwitcher div {
  display: none;
}

.olControlLayerSwitcher .layersDiv {
  display: block;
  background-color: black !important;
}

.olControlLayerSwitcher .layersDiv div {
  display: block;
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
  display: block;
}

.map-edit-point .olwidgetMaxMin {
  display: none !important;
}

/* POPUP OLWIDGET OVERRIDE */

body {
  /* position blocks */

}

body .olwidgetPopupStemTL,
body .olwidgetPopupStemTR {
  z-index: 2;
  background: url("../img/olwidget_popup_icons.png") no-repeat scroll -124px 0;
}

body .olwidgetPopupStemBL,
body .olwidgetPopupStemBR {
  z-index: 2;
  background: url("../img/olwidget_popup_icons.png") no-repeat scroll -96px 0;
}

body .olwidgetPopupContent {
  background-color: white;
  border: 0px solid #ccc;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

body .olwidgetPopupPage {
  padding-top: 15px;
}

body .olwidgetPopupCloseBox {
  z-index: 20;
}

.mapping-content #left-content {
  margin-top: 0;
  background: url(../img/datea/dotted-bg.png) repeat;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.mapping-content #left-content .inner {
  padding-bottom: 15px;
  margin: 15px;
}

.mapping-content #left-content .inner .mapping-tab-content {
  background-color: white;
}

.mapping-tabs {
  margin-bottom: 0;
  margin-left: 15px;
  border-bottom: 1px solid transparent;
}

.mapping-tabs li a {
  color: #5e6e65;
  background-color: #ececec;
  border-color: #ececec;
}

.mapping-tabs li.active a,
.mapping-tabs li.active:hover a {
  /*border:0px !important;*/

}

.mapping-tab-content {
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.15);
}

#mapping-start h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #27bb44;
}

#mapping-start .short-description {
  margin-bottom: 10px;
  font-size: 18px;
  color: #434c3e;
}

#mapping-start .info {
  margin-top: 10px;
}

#mapping-start .info .stats .stat-line {
  font-size: 11px;
  line-height: 16px;
  color: #27bb44;
}

#mapping-start .mapping-header {
  *zoom: 1;
}

#mapping-start .mapping-header:before,
#mapping-start .mapping-header:after {
  display: table;
  content: "";
}

#mapping-start .mapping-header:after {
  clear: both;
}

#mapping-start .mapping-header .left-start-head {
  display: block;
  float: left;
}

#mapping-start .mapping-header .right-start-head {
  display: block;
  float: left;
  width: 205px;
  margin-left: 15px;
}

#mapping-start .share-group {
  padding-top: 15px;
  *zoom: 1;
}

#mapping-start .share-group:before,
#mapping-start .share-group:after {
  display: table;
  content: "";
}

#mapping-start .share-group:after {
  clear: both;
}

#mapping-start .share-group .share-button {
  display: block;
  float: left;
  width: 120px;
}

#mapping-start .share-group .connect_comment_widget,
#mapping-start .share-group .fb_iframe_widget {
  max-width: 200px !important;
}

#mapping-start .scroll-area {
  height: 480px;
  overflow-x: visible;
  overflow-y: auto;
}

#mapping-start .mapping-about {
  padding: 15px 0;
}

#mapping-start .mapping-about .field {
  margin-bottom: 15px;
}

#mapping-start .mapping-about .field .field-label {
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
  color: #27bb44;
}

#mapping-reports-view {
  margin: 0 !important;
}

#mapping-reports-view .item-filters {
  padding-top: 10px;
  padding-bottom: 4px;
  margin: 0 15px;
  border-bottom: 1px solid #dfdfdf;
  *zoom: 1;
}

#mapping-reports-view .item-filters:before,
#mapping-reports-view .item-filters:after {
  display: table;
  content: "";
}

#mapping-reports-view .item-filters:after {
  clear: both;
}

#mapping-reports-view .item-filters .filter-controls .btn-group {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

#mapping-reports-view .scroll-area {
  height: 480px;
  padding-top: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

#mapping-reports-view .scroll-area .item-list {
  margin: 0 15px;
}

#mapping-reports-view .scroll-area .item-pager {
  padding: 10px 15px;
}

#mapping-reports-view .scroll-area .item-pager a {
  color: #555555;
}

@gray Dark;

.data-view-head {
  *zoom: 1;
}

.data-view-head:before,
.data-view-head:after {
  display: table;
  content: "";
}

.data-view-head:after {
  clear: both;
}

.data-view-head .head-icon {
  display: inline-block;
  *display: inline;
  height: 32px;
  line-height: 32px;
  text-decoration: none;
  vertical-align: text-bottom;
  *zoom: 1;
}

.data-view-head .json {
  width: 23px;
  background: url(../img/datea/iconos-mapa-top.png) no-repeat -47px 0;
}

.data-view-category-leyend {
  margin: 5px 0;
  list-style: none;
}

.data-view-category-leyend ul.category-leyend-group {
  margin: 0;
  *zoom: 1;
}

.data-view-category-leyend ul.category-leyend-group:before,
.data-view-category-leyend ul.category-leyend-group:after {
  display: table;
  content: "";
}

.data-view-category-leyend ul.category-leyend-group:after {
  clear: both;
}

.data-view-category-leyend ul.category-leyend-group li {
  position: relative;
  display: block;
  float: left;
  width: 25%;
  line-height: 15px !important;
  list-style: none;
  list-style-position: inside;
}

.data-view-category-leyend ul.category-leyend-group li .color-sample {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  margin-right: 5px;
}

.data-view-category-leyend ul.category-leyend-group li .name {
  display: block;
  float: left;
  padding-right: 6px;
  margin-left: 21px;
  font-size: 12px;
}

.data-view-filters {
  border-top: 1px solid #7f7f7f;
}

.mapping-filters {
  padding: 5px 0;
  *zoom: 1;
}

.mapping-filters:before,
.mapping-filters:after {
  display: table;
  content: "";
}

.mapping-filters:after {
  clear: both;
}

.mapping-filters .title {
  display: block;
  float: left;
  padding: 5px 0;
  font-weight: bold;
  color: black;
}

.mapping-filters ul.filters {
  float: left;
  margin-bottom: 0;
  margin-left: 10px;
  list-style: none;
}

.mapping-filters ul.filters li.filter {
  display: block;
  float: left;
  margin-right: 25px;
  list-style: none;
}

.mapping-filters ul.filters li.filter button .name {
  color: #5e6e65;
}

.mapping-filters ul.filters li.filter:last-child {
  margin-right: 0;
}

#mapping-form .tab-content {
  padding-top: 15px;
}

#mapping-form #mapping-categories {
  padding-bottom: 20px;
}

#mapping-form #mapping-settings .control-group {
  margin-bottom: 20px;
}

.mapping-items-admin .filters .filter {
  padding-left: 20px;
}

.map-item-admin-table .map-item.admin-full {
  padding-top: 15px;
  *zoom: 1;
}

.map-item-admin-table .map-item.admin-full:before,
.map-item-admin-table .map-item.admin-full:after {
  display: table;
  content: "";
}

.map-item-admin-table .map-item.admin-full:after {
  clear: both;
}

.map-item-admin-table .map-item.admin-full .item-left {
  float: left;
  width: 540px;
}

.map-item-admin-table .map-item.admin-full .item-left .field {
  margin-top: 10px;
}

.map-item-admin-table .map-item.admin-full .item-left .images {
  margin-top: 15px;
}

.map-item-admin-table .map-item.admin-full .item-left .images .image-row {
  margin-bottom: 0;
}

.map-item-admin-table .map-item.admin-full .item-right {
  float: left;
  padding-bottom: 15px;
  padding-left: 20px;
}

.map-item-admin-table .item-admin-form {
  padding: 10px 15px;
  margin-bottom: 0;
  background-color: #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  *zoom: 1;
}

.map-item-admin-table .item-admin-form:before,
.map-item-admin-table .item-admin-form:after {
  display: table;
  content: "";
}

.map-item-admin-table .item-admin-form:after {
  clear: both;
}

.map-item-admin-table .item-admin-form span {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.map-item-admin-table .item-admin-form .field {
  margin-right: 25px;
}

.map-item-admin-table .item-admin-form .field label {
  margin-right: 5px;
}

.map-item-admin-table .item-admin-form .field .dropdown-select button {
  position: relative;
  top: 4px;
  display: inline-block !important;
  height: 18px;
  line-height: inherit !important;
  vertical-align: bottom;
}

.map-item-admin-table .item-admin-form .free-space {
  width: 45px;
}

.map-item-admin-table .item-admin-form .buttons button {
  margin-right: 10px;
}

.map-item-admin-table .item-admin-form .status-field select {
  width: 85px;
}

.color-sample {
  display: inline-block;
  *display: inline;
  width: 25px;
  margin-right: 5px;
  *zoom: 1;
}

.badge-truncated {
  display: inline-block;
  max-width: 260px;
  white-space: normal !important;
}

.comments {
  margin-top: 25px;
}

.comments h3 {
  font-size: 14px;
}

.comments .comment-list {
  padding: 16px 12px;
  background-color: #f1f1ef;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.comments .comment-list .comment-item {
  padding-bottom: 8px;
  margin-bottom: 13px;
  border-bottom: 1px solid #d5d5d3;
  *zoom: 1;
}

.comments .comment-list .comment-item:before,
.comments .comment-list .comment-item:after {
  display: table;
  content: "";
}

.comments .comment-list .comment-item:after {
  clear: both;
}

.comments .comment-list .comment-item:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.comments .comment-list .comment-item .user-image {
  display: block;
  float: left;
  padding-top: 3px;
  margin-right: 9px;
}

.comments .comment-list .comment-item .comment-content {
  float: left;
}

.comments .comment-list .comment-item .comment-content .comment-text {
  font-size: 13px;
  word-wrap: break-word;
}

.comments .comment-list .comment-item .comment-content .date {
  font-size: 11px;
  color: #27bb44;
}

.comments .comment-form {
  margin-top: 15px;
}

.comments .comment-form .control-group {
  margin-bottom: 5px;
}

.comments .comment-form .control-group textarea {
  width: 96%;
  margin-bottom: 0;
}
