.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.grayLink {
  color: #555555;
}

.grayLink:hover,
.grayLink.active {
  color: #222222;
}

#footer {
  padding-top: 11px;
  padding-bottom: 10px;
  margin-top: 16px;
  border-top: 1px solid #7f7f7f;
}

#logo {
  display: inline-block;
  *display: inline;
  margin-top: 14px;
  *zoom: 1;
}

#logo img {
  display: block;
}

#user-header .image {
  display: block;
  float: left;
}

#user-header .image a img {
  display: block;
  margin-top: 17px;
}

#user-header ul.nav .dropdown-toggle {
  padding-top: 18px;
  font-size: 14px;
}

#login-header {
  text-align: center;
}

#login-header a.btn-login {
  margin-top: 10px;
  margin-bottom: 2px;
}

#main-content {
  margin-top: 90px;
}

.span1-5 {
  width: 100px;
  *width: 99px;
}

.span1-75 {
  width: 120px;
  *width: 119px;
}

.span2-5 {
  width: 180px;
  *width: 179px;
}

.span3-5 {
  width: 260px;
  *width: 259px;
}

.span6-5 {
  width: 500px;
  *width: 499px;
}

.span9-5 {
  width: 740px;
  *width: 739px;
}

@media (min-width: 768px) and (max-width: 979px) {
  .span1-5 {
    width: 73px;
    *width: 72px;
  }
  .span1-75 {
    width: 88.5px;
    *width: 87.5px;
  }
  .span2-5 {
    width: 135px;
    *width: 134px;
  }
  .span3-5 {
    width: 197px;
    *width: 196px;
  }
  .span6-5 {
    width: 383px;
    *width: 382px;
  }
  .span9-5 {
    width: 569px;
    *width: 568px;
  }
}

@media (min-width: 1200px) {
  .span1-5 {
    width: 120px;
    *width: 119px;
  }
  .span1-75 {
    width: 145px;
    *width: 144px;
  }
  .span2-5 {
    width: 220px;
    *width: 219px;
  }
  .span3-5 {
    width: 320px;
    *width: 319px;
  }
  .span3-6 {
    width: 320px;
    *width: 319px;
  }
  .span9-5 {
    width: 920px;
    *width: 919px;
  }
}

span.ajax-loading.small {
  display: inline-block;
  *display: inline;
  width: 16px;
  padding: 0 10px;
  background: url(../img/ajax-loader-chico.gif) no-repeat center center;
  *zoom: 1;
}

.loading-big-bg,
.loading-big-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10001;
}

.loading-big-bg {
  z-index: 10000;
  background-color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.loading-big-img {
  background: url(../img/ajax-loader-grande.gif) no-repeat center center;
}

textarea {
  resize: none;
}

textarea.autoresize {
  height: 18px;
}

.image-input-item {
  position: relative;
  line-height: 28px;
}

.image-input-item .ajax-loading,
.image-input-item .image-icon,
.image-input-item .delete-image {
  height: 28px;
  margin-bottom: 9px;
  line-height: 28px;
}

.image-input-item .ajax-loading,
.image-input-item .image-icon {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.image-input-item .delete-image,
.image-input-item .ajax-loading.hide {
  display: none;
}

.image-input-item .delete-image,
.image-input-item .image-icon,
.image-input-item .ajax-loading {
  position: relative;
  top: -4px;
}

.image-input-item .image-icon {
  width: 31px;
  background: url(../img/datea/image_input_icon.png) no-repeat center center;
}

.image-input-item.is-full .thumb {
  margin-right: 5px;
}

.image-input-item.is-full .image-icon {
  display: none;
}

.image-input-item.is-full .delete-image {
  display: inline-block;
  *display: inline;
  margin-left: 5px;
  *zoom: 1;
}

.image-input-item.is-empty .thumb {
  display: none;
}

.image-input-item.is-empty .image-icon {
  margin-right: 3px;
}

.image-input-item.is-empty.has-placeholder .thumb {
  display: inline-block;
  margin-right: 5px;
}

.image-input-item.is-empty.has-placeholder .image-icon {
  display: none;
}

.image-input-m2m .add-button {
  margin-top: 10px;
}

.image-input-m2m .image-input-item {
  padding-bottom: 15px;
}

.image-input-m2m .image-input-item:last-child {
  padding-bottom: 0;
}

.icono {
  display: inline-block;
  *display: inline;
  width: 20px;
  height: 16px;
  min-height: 16px;
  padding-top: 3px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-repeat: no-repeat;
  *zoom: 1;
}

.icono:last-child {
  *margin-left: 0;
}

.icono.dateo {
  background: url(../img/datea/iconitos.png) no-repeat 0 center;
}

.icono.follow {
  background: url(../img/datea/iconitos.png) no-repeat -20px center;
}

.icono.comment {
  background: url(../img/datea/iconitos.png) no-repeat -40px center;
}

.icono.vote {
  background: url(../img/datea/iconitos.png) no-repeat -60px center;
}

.icono.change {
  background: url(../img/datea/iconitos.png) no-repeat -80px center;
}

span.caret2 {
  display: inline-block;
  *display: inline;
  width: 15px;
  background: url(../img/datea/caret.png) no-repeat center center;
  opacity: 0.5;
  filter: alpha(opacity=50);
  *zoom: 1;
}

a:hover span.caret2 {
  opacity: 1;
  filter: alpha(opacity=100);
}

.paginator {
  font-size: 14px;
}

.paginator li {
  display: block;
  float: left;
  padding: 0 10px;
}

.paginator li.separator {
  padding: 0;
}

.paginator li.dots {
  padding: 0 10px;
}

.post-user-data {
  padding-bottom: 7px;
  *zoom: 1;
}

.post-user-data:before,
.post-user-data:after {
  display: table;
  content: "";
}

.post-user-data:after {
  clear: both;
}

.post-user-data .user-picture {
  float: left;
  margin-right: 9px;
}

.post-user-data .user-picture a {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.post-user-data .user-picture a img {
  display: block;
  border: 0;
}

.post-user-data .data {
  padding-top: 1px;
}

.post-user-data .data .username a {
  color: #555555;
}

.post-user-data .data .username a:hover,
.post-user-data .data .username a.active {
  color: #222222;
}

.post-user-data .data .date {
  font-size: 10px;
  line-height: 16px;
  color: #27bb44;
}

.map-item.popup {
  position: relative;
  width: 220px;
  font-size: 12px;
  line-height: 15px;
}

.map-item.popup .head {
  margin-right: 20px;
}

.map-item.popup .head .data {
  padding-top: 0;
}

.map-item.popup .stats {
  /*padding: 0 0 8px 0;*/

}

.map-item.popup .content .field {
  padding: 9px 0 2px 0;
}

.map-item.popup .buttons {
  padding-top: 5px;
}

.map-item.full .head .data .username,
.map-item.teaser .head .data .username {
  font-size: 14px;
}

.map-item.full .content .field,
.map-item.teaser .content .field {
  padding: 10px 0;
}

.map-item.teaser {
  padding-bottom: 20px;
  margin-bottom: 14px;
  border-bottom: 1px dashed #c3c3c3;
}

.map-item-full-header {
  padding-bottom: 15px;
}

.map-item-form {
  position: relative;
}

.map-item-form .modal-body {
  padding-bottom: 0;
}

.map-item-form .map-item-step-control {
  position: absolute;
  top: 23px;
  right: 230px;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  color: #eeeeee;
  border-bottom: 0;
}

.map-item-form .map-item-step-control li a {
  display: inline;
  margin: 0 5px 0 7px;
  color: #cccccc;
  background-color: transparent;
  border: 0;
}

.map-item-form .map-item-step-control li a:hover {
  color: #555555;
  border: 0;
}

.map-item-form .map-item-step-control li.active a {
  color: #5e6e65;
}

.map-item-form .step-title {
  margin-bottom: 15px;
  font-size: 15px;
}

.map-item-form .category-options label.radio {
  margin-bottom: 10px;
  font-size: 14px;
}

.map-item-form .control-group {
  margin-bottom: 15px;
}

.map-item-form .control-group label.control-label {
  margin-bottom: 1px;
  font-size: 12px;
  color: #5e6e65;
}

.map-item-form .control-group.error label.control-label {
  color: #b94a48;
}

.map-item-form .verify-item {
  margin-bottom: 15px;
}

.map-item-form .verify-item .change {
  margin-left: 4px;
  line-height: 16px;
  color: #5e6e65;
  text-decoration: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.map-item-form .verify-item .change:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.map-item-form .success-msg {
  margin-bottom: 10px;
  font-size: 15px;
}

.map-item-form .share {
  margin-bottom: 10px;
}

.map-item-form .share .share-text {
  margin-bottom: 5px;
}

.step-control .prev,
.step-control .next {
  line-height: 30px;
  color: #999999;
  text-decoration: none;
}

.step-control .prev .icon,
.step-control .next .icon {
  display: inline-block;
  *display: inline;
  width: 30px;
  *zoom: 1;
}

.step-control .prev:hover,
.step-control .next:hover {
  color: #555555;
}

.step-control .prev .icon {
  margin-right: 8px;
  background: url(../img/datea/prev-next.png) no-repeat 0 center;
}

.step-control .prev:hover .icon {
  background: url(../img/datea/prev-next.png) no-repeat -30px center;
}

.step-control .next .icon {
  margin-left: 8px;
  background: url(../img/datea/prev-next.png) no-repeat -60px center;
}

.step-control .next:hover .icon {
  background: url(../img/datea/prev-next.png) no-repeat -90px center;
}

/*********************
 * OPENLAYERS / OLWIDGET
 */

.olwidgetEditableLayerSwitcher div {
  display: none;
}

.olwidgetEditableLayerSwitcher .olwidgetContainer {
  display: block;
  background-color: black !important;
}

.olwidgetEditableLayerSwitcher .olwidgetContainer div {
  display: block;
}

.olControlLayerSwitcher div {
  display: none;
}

.olControlLayerSwitcher .layersDiv {
  display: block;
  background-color: black !important;
}

.olControlLayerSwitcher .layersDiv div {
  display: block;
}

.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
  display: block;
}

.map-edit-point .olwidgetMaxMin {
  display: none !important;
}

/* POPUP OLWIDGET OVERRIDE */

body {
  /* position blocks */

}

body .olwidgetPopupStemTL,
body .olwidgetPopupStemTR {
  z-index: 2;
  background: url("../img/olwidget_popup_icons.png") no-repeat scroll -124px 0;
}

body .olwidgetPopupStemBL,
body .olwidgetPopupStemBR {
  z-index: 2;
  background: url("../img/olwidget_popup_icons.png") no-repeat scroll -96px 0;
}

body .olwidgetPopupContent {
  background-color: white;
  border: 0px solid #ccc;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

body .olwidgetPopupPage {
  padding-top: 15px;
}

body .olwidgetPopupCloseBox {
  z-index: 20;
}

.mapping-tabs {
  margin-bottom: 10px;
}

#mapping-start h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #27bb44;
}

#mapping-start .short-description {
  margin-bottom: 10px;
  font-size: 18px;
  color: #434c3e;
}

#mapping-start .info {
  margin-top: 10px;
}

#mapping-start .info .stats .stat-line {
  font-size: 11px;
  line-height: 16px;
  color: #27bb44;
}

#mapping-start .mapping-about {
  padding: 15px 0;
}

#mapping-start .mapping-about .field {
  margin-bottom: 15px;
}

#mapping-start .mapping-about .field .field-label {
  margin-bottom: 3px;
  font-size: 13px;
  font-weight: bold;
  color: #27bb44;
}

.data-view-categories {
  margin: 5px 0;
  list-style: none;
  *zoom: 1;
}

.data-view-categories:before,
.data-view-categories:after {
  display: table;
  content: "";
}

.data-view-categories:after {
  clear: both;
}

.data-view-categories li {
  float: left;
  list-style: none;
  list-style-position: inside;
  *zoom: 1;
}

.data-view-categories li:before,
.data-view-categories li:after {
  display: table;
  content: "";
}

.data-view-categories li:after {
  clear: both;
}

.data-view-categories li .color-sample {
  float: left;
  width: 20px;
  margin-right: 5px;
}

.data-view-categories li .name {
  display: inline-block;
  float: left;
  width: 100px;
}

.color-sample {
  display: inline-block;
  *display: inline;
  width: 25px;
  margin-right: 5px;
  *zoom: 1;
}
