{% if user != object %}
<div id="follow-widget-{{ object_type }}-{{ object.id }}" class="report-widget follow-widget {% if is_following %}active{% endif %}">
	<button type="button" onclick="{% if is_following %}Datea.follow.unfollow('{{ object_type }}',{{ object.id }});{% else %}Datea.follow.follow('{{ object_type }}',{{ object.id }});{% endif %}">
		<div class="data">
			{%  if follow_count > 0 %}
			<div class="off">
				<div class="count">{{ follow_count }}</div>
				<div class="subline">siguen {% if object_type ==  'report' %}este aporte{% else %}a este usuario{% endif %}</div>
			</div>
			{% else %}
				<div class="off">
					<div class="msg">sigue {% if object_type == 'report' %}este aporte{% else %}a este usuario{% endif %}</div>
				</div>
			{% endif %}
			
			<div class="hover">
				{% if is_following %}
					<div class="msg">dejar de seguir?</div>
				{% else %}
					<div class="msg">sigue {% if object_type == 'report' %}este aporte{% else %}a este usuario{% endif %}!</div>
				{% endif %}
			</div>
		</div>
	</button>
</div> 
{% endif %}
