{% load i18n %}
<div class="new-image-input">
	<div class="open-new-form" {% if not link_visible %}style="display:none"{% endif %}>
		<a href="javascript:dateaimage_open_form('{{ field_name }}');">{% trans 'Add new image' %}</a>
	</div>
	<div class="new-image" {% if not visible %}style="display:none"{% endif %}>

		<input type="file" name="image" class="file-input" onchange="dateaimage_upload('{{ field_name }}');" />

		{# <a href="javascript:dateaimage_upload('{{ field_name }}');" class="upload-button">{%trans 'Upload' %}</a> #}
	</div>
	<div class="error"></div>
</div>

