{% load datea_profile_tags %}
{% spaceless %}
<div class="activity">
	<div class="button">
		<a class="btn chico" href="{{ target_object.get_absolute_url }}" rel="nav:{{ target_object.get_nav_url }}">Ver {{ target_object_name }}</a>
	</div>
	<div class="content">
		<div class="fecha">el {% now "d/m/Y - H:i" %}</div>
		{% if target_object_type == 'report' %}
			<a title="ver perfil de {{sender.username}}" href="{% get_profile_url sender.get_profile target_object.environment.slug %}" 
			rel="nav:people/detail/{{ sender.username }}">{{ sender.username }}</a> 
		{% else %}
			<a href="{% get_profile_url sender.get_profile %}" 
			rel="nav:people/detail/{{ sender.username }}">{{ sender.username }}</a>
		{% endif %}
		ha comentado el {{ target_object_name }} de 
		{% if target_object_type == 'report' %}
			<a title="ver perfil de {{ content_author.username }}" href="{% get_profile_url content_author.get_profile target_object.environment.slug %}" 
			rel="nav:people/detail/{{ content_author.username }}">{{ content_author.username }}</a>: 
		{% else %}
			<a title="ver perfil de {{ content_author.username }}" href="{% get_profile_url content_author.get_profile %}" 
			rel="nav:people/detail/{{ content_author.username }}">{{ content_author.username }}</a>: 
		{% endif %}
		{{ comment.comment|striptags|truncatewords:10 }}
	</div>
</div>
{% endspaceless %}
