{% load i18n verbatim_tag %}
<script id="my_profile_head_tpl" type="text/html">
<div id="user-header">
	<div class="inner">
		<div class="image">
			<a href="/">
				<img src="{% verbatim %}{{ image }}{% endverbatim %}" />
			</a>
		</div>
		<ul class="nav">
			<li class="dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown">{% verbatim %}{{ user.username }}{% endverbatim %} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a class="myprofile-edit-action" href="javascript:void(0);">{% trans "Edit profile" %}</a></li>
					<li><a href="/accounts/logout">{% trans 'Log out'%}</a></li>
				</ul>
			</li>
			
		</div>
	</div>
</div>
</script>