{% load i18n verbatim_tag %}
{% verbatim %}
<script id="my_profile_tpl" type="text/html">
<div class="user-profile dotted-inner">
	<div class="head">
		<div class="profile-img-large">
			<img src="{{ profile.image_large }}" alt="profile image" />
		</div>
		<div class="profile-head-data">
			<h1>{{ username }}</h1>
			<div class="message">{{ profile.message }}</div>
			{{>profile_stats_tpl}}
		</div>
	</div>
	
	<div class="history">
		
	</div>
</div>
</script>

<script id="profile_stats_tpl" type="text/html">
	<div class="stats">
		{{#profile.item_count}}
		<span class="stat item_count">
			<i class="icono dateo"></i>
			{{ profile.item_count }} 
			<span class="plural">{% trans "contributions" %}</span>
			<span class="singular" style="display:none">{% trans "contribution" %}</span>
		</span>
		<span class="separator">|</span>
		{{/profile.item_count}}
		{{#profile.comment_count}}
		<span class="stat comment_count">
			<i class="icono comment"></i>
			{{ profile.comment_count }}
			<span class="plural">{% trans "comments" %}</span>
			<span class="singular" style="display:none">{% trans "comment" %}</span>
		</span>
		<span class="separator">|</span>
		{{/profile.comment_count }}
		{{#profile.vote_count}}
		<span class="stat vote_count">
			<i class="icono vote"></i>
			{{ profile.vote_count }} 
			<span class="plural">{% trans "votes" %}</span>
			<span class="singular" style="display:none">{% trans "vote" %}</span>
		</span>
		<span class="separator">|</span>
		{{/profile.vote_count}}
	</div>
</script>
{% endverbatim %}
