{% load i18n verbatim_tag %}
{% verbatim %}
<script id="my_profile_tpl" type="text/html">
<div class="user-profile dotted-inner">
	<div class="head">
		<h1>{{ username }}</h1>
		<div class="profile-info">
			<div class="profile-img-large">
				<img src="{{ profile.image_large }}" alt="profile image" />
			</div>
			{{>profile_stats_tpl}}
		</div>
	</div>
	<div class="profile-extra">
		<div class="message">{{ profile.message }}</div>
	</div>
	{{#show_user_actions}}
	<div class="profile-actions">
		<button type="button" class="btn edit-profile">{% trans "Edit profile" %}</button> &nbsp;
		<a class="btn" href="#{{ action_create_link }}">{% trans "Create action" %}</a> 
	</div>
	{{/show_user_actions}}
</div>
</script>

<script id="profile_stats_tpl" type="text/html">
	<div class="stats">
		{{#profile.item_count}}
		<div class="stat item_count">
			<i class="icono dateo"></i>
			{{ profile.item_count }} 
			<span class="plural">{% trans "contributions" %}</span>
			<span class="singular" style="display:none">{% trans "contribution" %}</span>
		</div>

		{{/profile.item_count}}
		{{#profile.comment_count}}
		<div class="stat comment_count">
			<i class="icono comment"></i>
			{{ profile.comment_count }}
			<span class="plural">{% trans "comments" %}</span>
			<span class="singular" style="display:none">{% trans "comment" %}</span>
		</div>
		{{/profile.comment_count }}
		{{#profile.vote_count}}
		<div class="stat vote_count">
			<i class="icono vote"></i>
			{{ profile.vote_count }} 
			<span class="plural">{% trans "votes" %}</span>
			<span class="singular" style="display:none">{% trans "vote" %}</span>
		</div>
		{{/profile.vote_count}}
	</div>
</script>
{% endverbatim %}
