{% load i18n verbatim_tag %}
{% verbatim %}
<script id="image_carousel_tpl" type="text/html">
	<div class="carousel-inner">
	</div>
	<a class="left carousel-control" data-slide="prev" href="#{{ carousel_id }}">‹</a>
	<a class="right carousel-control" data-slide="next" href="#{{ carousel_id }}">›</a>
</script>

<script id="image_carousel_item_tpl" type="text/html">
	<div class="item {{ active_class }}">
		<img src="{{image}}" alt="" />
	</div>
</script>

<script id="image_single_tpl" type="text/html">
	<img src="{{image}}" alt="" />
</script>
{% endverbatim %}
