{% load verbatim_tag %}
{% verbatim %}
<script id="content_layout_right_bar_tpl" type="text/html">
<div id="main-content" class="container container-target">
	<div id="main-content-view" class="inner">
		<div class="row {{#class}} {{class}}{{/class}}" id="{{ content_id }}">
			{{#dotted_bg}}<div class="span12 dotted-bg-container"><div class="dotted-bg">&nbsp;</div><div class="row">{{/dotted_bg}}
					<div id="left-content" class="span8"></div>
					<div id="right-content" class="span4"></div>
			{{#dotted_bg}}</div></div>{{/dotted_bg}}
		</div>
	</div>
</div>
</script>
{% endverbatim %}
