{% load i18n verbatim_tag %}
{% verbatim %}
<script id="paginator_page" type="text/html">
	<li><a href="#" data-page="{{ page }}" class="get-page">{{ page_name }}</a></li>
</script>

<script id="paginator_first" type="text/html">
	<li><a href="#" data-page="0" class="get-page">&lt;&lt;{% trans "first" %}</a></li>
</script>

<script id="paginator_prev" type="text/html">
	<li><a href="#" data-page="{{ page }}" class="get-page">&lt;{% trans "previous" %}</a></li>
</script>

<script id="paginator_next" type="text/html">
	<li><a href="#" data-page="{{ page }}" class="get-page">{% trans "next" %}&gt;</a></li>
</script>

<script id="paginator_last" type="text/html">
	<li><a href="#" data-page="{{ page }}" class="get-page">{% trans "last" %}&gt;&gt;</a></li>
</script>

{% endverbatim %}
