{% load i18n verbatim_tag %}
{% verbatim %}
<div class="stats">
	<span class="stat vote_count hide">
		<a title="ver detalle" href="#{{ url }}">
			{{ vote_count }} {% trans "votes" %}
		</a>
		<span class="separator">|</span>
	</span>
	<span class="stat comment_count hide">
		<a title="ver detalle" href="#{{ url }}">
			{{ comment_count }} {% trans "comments" %}"
		</a>
		<span class="separator">|</span>
	</span>
	<span class="stat follow_count hide">
		<a title="ver detalle" href="#{{ url }}">
			{{ follow_count }} {% trans "following" %}
		</a>
		<span class="separator">|</span>
	</span>
</div>
{% endverbatim %}
