{% load i18n verbatim_tag datea_category_tags datea_mapping_tags bootstrap_toolkit %}
{% get_mapping_form as form %}
<script id="mapping_create_tpl" type="text/html">
	
	<div class="page-header"><h2>{% trans 'Create new mapping action' %}</h2></div>
	
	<ul class="nav nav-pills">
		<li class="active"><a href="#new-mapping-settings" data-toggle="tab">{% trans 'Mapping settings' %}</a></li>
		<li><a href="#new-mapping-categories" data-toggle="tab">{% trans 'Categories' %}</a></li>
		<li><a href="#new-mapping-position" data-toggle="tab">{% trans 'Positioning' %}</a></li>
	</ul>
	
	<form id="new-mapping-form" action="" class="form form-horizontal">	
		
		<div class="tab-content">
			<div class="tab-pane active" id="new-mapping-settings">
					
					{% with form.name as field %}
					<div class="control-group">
						<label class="control-label">{{ field.label }}</label>
						<div class="controls">
							<input type="text" id="mapping-name-input" name="name" class="span4" value="{% verbatim %}{{name}}{% endverbatim %}" />
							{% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
						</div>
					</div>
					{% endwith %}
					{% with form.short_description as field %}
					<div class="control-group">
						<label class="control-label">{{ field.label }}</label>
						<div class="controls">
							<textarea type="text" id="mapping-short-description-input" name="short_description" rows="1" class="span5" maxlength="140" />{% verbatim %}{{short_description}}{% endverbatim %}</textarea>
							{% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
						</div>
					</div>
					{% endwith %}
					{% with form.category as field %}
					<div class="control-group">
						<label class="control-label">{{ field.label }}</label>
						<div class="controls">
							{{ field }}
							{% comment %}
							<select id="mapping-category-input" name="category" />
								<option value=""> ---- </option>
								{{% get_categories as categories %}
								{% for cat in categories %}
									<option value="{{ cat.id }}">{{ cat.name }}</option>
								{% endfor %}}
							</select>
							{% endcomment %}
							{% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
						</div>
					</div>
					{% endwith %}
					{% with form.mission as field %}
					<div class="control-group">
						<label class="control-label">{{ field.label }}</label>
						<div class="controls">
							<textarea name="mission" id="mapping-mission-input" maxlength="500" class="span5">{% verbatim %}{{mission}}{% endverbatim %}</textarea>
							{% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
						</div>
					</div>
					{% endwith %}
					{% with form.information_destiny as field %}
					<div class="control-group">
						<label class="control-label">{{ field.label }}</label>
						<div class="controls">
							<textarea name="information_destiny" id="mapping-mission-input" maxlength="500" class="span5">{% verbatim %}{{information_destiny}}{% endverbatim %}</textarea>
							{% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
						</div>
					</div>
					{% endwith %}
			</div>
			<div class="tab-pane" id="new-mapping-categories">
			</div>
			<div class="tab-pane" id="new-mapping-position">
			</div>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary save-mapping" type="button">{% trans 'Create' %}</button>
			<a class="btn" href="#action/start">Cancel</a>
		</div>
	</form>

</script>