{% load i18n verbatim_tag %}
{% verbatim %}
{# MAP ITEM WIDGET STATS #}
<script id="map_item_widget_stats_tpl" type="text/html">
	<div class="stats">
		{{#vote_count}}
		<span class="stat vote_count">
			<a title="ver detalle" href="#{{ url }}">
				{{ vote_count }} {% trans "votes" %}
			</a>
			<span class="separator">|</span>
		</span>
		{{/vote_count}}
		{{#comment_count}}
		<span class="stat comment_count hide">
			<a title="ver detalle" href="#{{ url }}">
				{{ comment_count }} {% trans "comments" %}"
			</a>
			<span class="separator">|</span>
		</span>
		{{/comment_count }}
		{{#follow_count}}
		<span class="stat follow_count hide">
			<a title="ver detalle" href="#{{ url }}">
				{{ follow_count }} {% trans "following" %}
			</a>
			<span class="separator">|</span>
		</span>
		{{/follow_count}}
	</div>
</script>

{# MAP ITEM POPUP VIEW #}
<script id="map_item_popup_tpl" type="text/html">
	<div id="map-item-popup-{{ id }}" class="map-item popup">
	
		{{>post_user_data_tpl}}
		
		<div class="content">
			<div class="category">
				<span class="badge badge-truncated" style="background-color: {{ category_color }}">{{ category_name }}</span>
			</div>
			<div class="field">{{ extract }}</div>
		</div>
		
		{{>map_item_widget_stats_tpl}}
		
		<div class="buttons">
			<a class="btn btn-mini" href="#{{ url }}">{% trans "Read more" %}</a>
			<a class="btn btn-mini popup-zoom" data-id="{{ id }}" href="#">{% trans "Zoom in" %}</a>
		</div>
	</div>
</script>



{# MAP ITEM TEASER VIEW #}
<script id="map_item_teaser_tpl" type="text/html">
	
		{{>post_user_data_tpl}}
		
		<div class="content">
			<div class="category">
				<span class="badge" style="background-color: {{ category_color }}">{{ category_name }}</span>
			</div>
			<div class="field">{{ extract }}</div>
		</div>
		
		{{>map_item_widget_stats_tpl}}
		
		<div class="buttons">
			<a class="btn btn-mini" href="#{{ url }}">{% trans "Read more" %}</a>
			<a class="btn btn-mini open-popup" href="#" data-id="{{ id }}">{% trans "See in map" %}</a>
		</div>
		
</script>


{# MAP ITEM FULL VIEW #}
<script id="map_item_full_tpl" type="text/html">
	<div class="map-item-full-header">
		<a href="#" class="back-to-list">&lt;&lt;{% trans "back" %}</a>
		<div class="pull-right">
			<button type="button" class="btn edit-map-item hide" data-id="{{id}}">{% trans "Edit" %}</button>
			<button class="btn btn-primary create-report" type="button">{% trans "Create report" %}</button> 
		</div>
	</div>
	<div id="map-item-full-{{ id }}" class="map-item full">
	
		{{>post_user_data_tpl}}
		
		<div class="content">
			<div class="category">
				<span class="badge" style="background-color: {{ category_color }}">{{ category_name }}</span>
			</div>
			<div class="field">{{& content }}</div>
		</div>
		
		<div class="widgets">
			<div class="datea-widgets">
			</div>
			<div class="share"></div>
		</div>
		
		<div class="images"></div>
		
		<div class="buttons">
			<a class="btn btn-small open-popup" href="#" data-id="{{ id }}">{% trans "See in map" %}</a>
		</div>
		
		<div class="replies" style="display:none"></div>
		
		<div class="comments"></div>
	
	</div>
</script>

{# MAP ITEM ADMIN FULL VIEW #}
<script id="map_item_admin_full_tpl" type="text/html">
	<div id="map-item-admin-full{{ id }}" class="map-item admin-full">
		<table>
			<tr>
				<td class="item-content-left">
					
					{{>post_user_data_tpl}}
					
					<div class="images"></div>
					
					<div class="content">
						<div class="category">
							<span class="badge" style="background-color: {{ category_color }}">{{ category_name }}</span>
						</div>
						<div class="field">{{& content }}</div>
					</div>
					
					{{>map_item_widget_stats_tpl}}
										
					<div class="replies" style="display:none"></div>
		
					<div class="comments"></div>
			    </td>
				<td class="item-content-right">
					<div id="item-map-{{id}}"></div>
				</td>
			</tr>
		</table>
	</div>
</script>
{% endverbatim %}
