{% load i18n verbatim_tag datea_category_tags datea_mapping_tags bootstrap_toolkit %}
{% get_mapping_form as form %}

{# MAP ITEM FORM BASE #}
<script id="map_item_form_tpl" type="text/html">
	{% verbatim %}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>{{action_name}} {% trans "report" %}</h3>
		
		<ul class="nav nav-tabs map-item-step-control">
		    <li class="active"><a class="open-step" href="#map-item-step-1" data-step="1">1</a> <span class="arrow">&gt;</span></li>
		    <li><a class="open-step" href="#map-item-step-2" data-step="2">2</a><span class="arrow">&gt;</span></li>
		    <li><a class="open-step" href="#map-item-step-3" data-step="3">3</a></li>
	    </ul>		
	</div>
	<div class="tab-content">
			
		{# STEP 1 #}
		<div class="tab-pane active map-item-step" id="map-item-step-1">
			<div class="modal-body">
				<div class="inner">
					<div class="hide alert alert-error error-msg">
						{% trans "Please fill out the fields marked in red." %}
						<button class="close" data-dismiss="alert">×</button>
					</div>
					
					<div class="step-title"><strong>{% trans "Step" %} 1:</strong> {% trans "fill the following fields" %}</div>
					
					{{#has_categories}}
					<div class="control-group required">
						<label class="control-label">{% trans "Select the apropiate category" %}:</label>
						<div class="controls category-options">
							{{#categories}}
								{{>free_category_radio_option_tpl }}
							{{/categories}}
						</div>
					</div>
					{{/has_categories}}
					
					<div class="control-group required">
						<label class="control-label">{% trans "Describe the problem and suggest a way to fix it" %}:</label>
						<div class="controls">
							<textarea id="textarea" class="input-xlarge span6-5 autoresize" rows="0" name="content">{{content}}</textarea>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">{% trans "Add images (optional)" %}</label>
						<div class="controls item-images-view"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer step-control">
				<div class="pull-right">
					<a class="next open-step" href="#" data-step="2">{% trans "next" %}<span data-step="2" class="icon">&nbsp;</span></a>
				</div>
			</div>
		</div>
		
		{# STEP 2 #}
		<div class="tab-pane map-item-step" id="map-item-step-2">
			<div class="modal-body">
				<div class="inner">
					<div class="pull-right">
						<a class="open-step" data-step="3" href="#">{% trans "has no location" %} <i class="icon-arrow-right"></i></a>
					</div>
					<div class="step-title"><strong>{% trans "Step" %} 2:</strong> {% trans "locate your report" %}</div>
				
					<div class="enter-position-view"></div>
				</div>
			</div>
			<div class="step-control modal-footer">
				<div class="pull-left">
					<a class="prev open-step" href="#" data-step="1"><span data-step="1" class="icon">&nbsp;</span>{% trans "previous" %}</a>
				</div>
				<div class="pull-right">
					<a class="next open-step" href="#" data-step="3">{% trans "next" %}<span data-step="3" class="icon">&nbsp;</span></a>
				</div>
			</div>
		</div>
		
		{# STEP 3 #}
		<div class="tab-pane map-item-step" id="map-item-step-3">
			<div class="modal-body">
				<div class="inner">
					<div class="step-title"><strong>{% trans "Step" %} 3:</strong> {% trans "Verify your data" %}</div>
					
					<div class="verify-view"></div>
				</div>
			</div>
			<div class="step-control modal-footer">
				<div class="pull-left">
					<a class="prev open-step" href="#" data-step="2"><span data-step="2" class="icon">&nbsp;</span>{% trans "previous" %}</a>
				</div>
				<div class="pull-right">
					<a class="save-map-item btn btn-large btn-primary" href="#">{% trans "Save" %} {% trans "report" %}</a>
				</div>
			</div>
		</div>
	</div>
	
	{% endverbatim %}
</script>



{# VERIFY FORM #}
<script id="map_item_form_verify_tpl" type="text/html">
	{% verbatim %}
	{{#category}}
	<div class="verify-item category">
		<span class="badge" style="background-color:{{category.color}};">{{category.name}}</span> 
		<a href="#" class="change open-step" data-step="1"><i data-step="1" class="icono change"></i>  {% trans "change" %}</a>
	</div>
	{{/category}}
	
	<div class="verify-item content">
		{{content}}
		<a href="#" class="change open-step" data-step="1"><i data-step="1" class="icono change"></i>  {% trans "change" %}</a>
	</div>
	
	<div class="verify-item verify-images">
		{{#images}}
			{{> map_item_form_verify_image_tpl}}
		{{/images}}
	</div>
	{% endverbatim %}
</script>


{# VERIFY IMAGE #}
<script id="map_item_form_verify_image_tpl" type="text/html">
	{% verbatim %}
	<div class="verify-image">
		<span class="thumb">
			<img src="{{thumb}}" alt="" />
		</span>
		<span class="change-button">
			<a href="#" class="change open-step" data-step="1"><i data-step="1" class="icono change"></i> {% trans "change" %}</a>
		</span>
	</div>
	{% endverbatim %}
</script>


{# FORM SUCCESS TEMPLATE #}
<script id="map_item_form_success_tpl" type="text/html">
	{% verbatim %}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>{% trans "Thank you!" %}</h3>
	</div>
	
	<div class="modal-body">
		<div class="success-msg">{% trans "Your report has been successfully submitted." %}</div>
		<div class="custom-success-msg">{{success_msg}}</div>
		
		<div class="share">
			<div class="share-text">{% trans "Now you can share it" %}</div>
			
			<div class="share-group">
				{{>tw_button_tpl}}
				{{>fb_button_tpl}}
			</div>
			
			{% comment %}
			<div class="share-buttons">
				<div class="addthis_default_style addthis_32x32_style share-widget addthis_toolbox" addthis:url="{{ full_url }}">
	                <a class="addthis_button_facebook"></a>
					<a class="addthis_button_twitter"></a>
				    <a class="addthis_button_google"></a>
				    <a class="addthis_button_email"></a>
				</div>
			</div>
			{% endcomment %}
		</div>
	</div>
	<div class="modal-footer">
		<a href="#{{ url }}" class="btn btn-primary btn-large close-modal">{% trans 'See my report' %}</a>
	</div>
	{% endverbatim %}
</script>