{% load i18n verbatim_tag %}
<script id="map_item_form_verify_tpl" type="text/html">
{% verbatim %}
<div class="verify-item category">
	<span class="label" style="background-color:{{category.color}};">{{category.name}}</span> 
	<a href="#" class="change open-step" data-step="1">{% trans "change" %}</a>
</div>

<div class="verify-item content">
	{{content}}
	<a href="#" class="change open-step" data-step="1">{% trans "change" %}</a>
</div>

<div class="verify-item verify-images">
</div>
{% endverbatim %}
</script>



<script id="map_item_form_verify_image_tpl" type="text/html">
{% verbatim %}
<div class="verify-image">
	<span class="thumb">
		<img src="{{thumb}}" alt="" />
	</span>
	<span class="change-button">
		<a href="#" class="change open-step" data-step="1">{% trans "change" %}</a>
	</span>
</div>
{% endverbatim %}
</script>

