{% load i18n verbatim_tag %}
<script id="map_item_form_success_tpl" type="text/html">
{% verbatim %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">×</button>
	<h3>{% trans "Thank you!" %}</h3>
</div>

<div class="modal-body">
	<div class="success-msg">{% trans "Your report has been successfully submitted." %}</div>
	<div class="custom-success-msg">{{success_msg}}</div>
	
	<div class="share">
		<div class="share-text">{% trans "Now you can share it" %}</div>
		
		<div class="share-group">
			{{>tw_button_tpl}}
			{{>fb_button_tpl}}
		</div>
		
		{% comment %}
		<div class="share-buttons">
			<div class="addthis_default_style addthis_32x32_style share-widget addthis_toolbox" addthis:url="{{ full_url }}">
                <a class="addthis_button_facebook"></a>
				<a class="addthis_button_twitter"></a>
			    <a class="addthis_button_google"></a>
			    <a class="addthis_button_email"></a>
			</div>
		</div>
		{% endcomment %}
	</div>
</div>
<div class="modal-footer">
	<a href="#{{ url }}" class="btn btn-primary btn-large close-modal">{% trans 'See my report' %}</a>
</div>
{% endverbatim %}
</script>