{% load i18n verbatim_tag %}

{% verbatim %}
<script id="mapping_data_view_tpl" type="text/html">
	<div class="data-view-head">
		<div class="pull-right">
			<a class="json head-icon" href="/api/v1/map_item/?format=json&mapping={{id}}">&nbsp;</a>
		</div>
	</div>
	
	<div class="data-view-body">
		<div class="data-view map">
			<div id="map-data-view" class="resize-target"></div>
		</div>
	</div>
	
	<div class="data-view-category-leyend hide"></div>
	
	<div class="data-view-filters mapping-filters">
		<span class="title">{% trans 'filter' %}:</span>
		<ul class="filters">
			<li class="filter category-filter"></li>
			<li class="filter status-filter"></li>
			<li class="filter time-filter"></li>
		</ul>
	</div>
</script>
{% endverbatim %}