{% load i18n verbatim_tag %}
<script id="mapping_tab_start_tpl" type="text/html">
{% verbatim %}
<div class="resize-target scroll-area">
<h2>{{name}}</h2>
<div class="mapping-header">
	
	<div class="left-start-head">
		<div class="image">
			<img src="{{ image_thumb }}" alt="{{name}}" />
		</div>
	</div>
	<div class="right-start-head">
		<div class="short-description">{{short_description}}</div>
   
    	<button type="button" class="btn btn-large btn-primary create-report">{% trans "Create Report" %}</button>
		
		<div class="info">
			<div class="stats">
				<div class="stat-line"><i class="icono dateo"></i> {{item_count}} {% trans "reports" %}</div>
				<div class="stat-line"><i class="icono comment"></i> {{comment_count}} {% trans "comments" %}</div>
				<div class="stat-line"><i class="icono follow"></i> {{user_count}} {% trans "participants" %}</div>
			</div> 	
		</div>	
	</div>
</div>
<div class="share-group">
	{{>fb_button_tpl}}
	{{>tw_button_tpl}}
</div>

<div class="mapping-about">

	<div class="field">
		<div class="field-label">{% trans "Mission / Objectives"%}</div>
		<div class="field-content">{{ mission }}</div>
	</div>
	
	<div class="field">
		<div class="field-label">{% trans "What happens with this information?"%}</div>
		<div class="field-content">{{ information_destiny }}</div>
	</div>
	
	<div class="long_description field hide">
		<div class="field-label">{% trans "Description"%}</div>
		<div class="field-content">{{ long_description }}</div>
	</div>
	
</div>
{% endverbatim %}
</div>
</script>