{% load i18n verbatim_tag %}
<script id="mapping_data_view_tpl" type="text/html">
	{% verbatim %}
		
		<div class="data-view-head">
			<div class="pull-right">
				<a class="json head-icon" href="/api/v1/mapping/{{id}}/?format=json">&nbsp;</a>
			</div>
		</div>
		
		<div class="data-view-body">
			<div class="data-view map">
				<div id="map-data-view"></div>
			</div>
		</div>
		
		<ul class="data-view-categories hide">
			
		</ul>
		
		<div class="data-view-filters">
			
		</div>
		
	{% endverbatim %}
</script>

