{% load i18n verbatim_tag %}
{% verbatim %}
<script id="mapping_sidebar_main_tpl" type="text/html">
	
	<div class="dotted-bg">&nbsp;</div>
	
	<div class="inner sidebar-inner">
			
		<ul class="nav nav-tabs mapping-tabs">
	    	<li class="active"><a id="mapping-start-tablink" class="navigate" href="#mapping-start" data-nav="{% trans '/mapping/' %}{{ id }}">{% trans "Start" %}</a></li>
	    	<li><a id="mapping-reports-tablink" class="navigate" href="#mapping-reports" data-nav="{% trans '/mapping/' %}{{ id }}/{% trans 'reports' %}">{% trans "Reports" %}</a></li>
	    	{#<li><a href="#mapping-participants">{% trans "Participants" %}</a></li>#}
	    </ul>
	    
	    <div class="tab-content mapping-tab-content">
	    	<div class="tab-pane active" id="mapping-start">
	    		<div class="inner" id="mapping-start-view"></div>
	    	</div>
	    	
	    	<div class="tab-pane" id="mapping-reports">
	    		<div class="inner" id="mapping-reports-view"></div>
	    	</div>
	    	
	    	{% comment %}
	    	<div class="tab-pane" id="mapping-participants">
	    		<div class="inner" id="mapping-participants-view"></div>
	    	</div>
	    	{% endcomment %}
	    	
	    </div>
  </div>
</script>
{% endverbatim %}


