<!DOCTYPE html>
<html lang="en">
  <head>
  	
  <meta charset="utf-8">
  
  <script src="{{ STATIC_URL }}js/libs/json2.js"></script>
  <script src="{{ STATIC_URL }}js/libs/date.format.js"></script>
  <script src="{{ STATIC_URL }}js/libs/underscore-min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/backbone-min.js"></script>
  <script src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>
  <script src="{{ STATIC_URL }}js/libs/backbone.queryparams.js"></script>
  <script src="{{ STATIC_URL }}js/libs/ICanHaz.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src='http://openstreetmap.org/openlayers/OpenStreetMap.js'></script>
  <script src="{{STATIC_URL}}openlayers-2.11/OpenLayers.js"></script>
  <script src="{{STATIC_URL}}test_mapping.js"></script>
  </head>
  <body>
  	<div id="test-map"></div>
  </body>
</html>