	
<meta property="og:title" content="{% if og_title %}{{ og_title }}{% else %}{{ title }} ::: {{ site.name }}{% endif %}" />
<meta property="og:url" content="http://{{ site.domain }}{{url}}" />
<meta property="og:image" content="http://{{ site.domain }}{{ image }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}" />

<html xmlns:fb="http://ogp.me/ns/fb#">